<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0,minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta name="apple-touch-fullscreen" content="yes" />
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="msapplication-tap-highlight" content="no" />
  <link rel="icon" href="../image/log3.png">
  <link rel="stylesheet" href="/assets/bootstrap-3.3.7-dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/css/normailze.css">
  <link rel="stylesheet" href="/assets/css/viewcss/index.css">
  <link rel="stylesheet" href="/assets/css/publick.css">
  <link rel="stylesheet" href="/assets/swiper-5.2.1/css/swiper.min.css">
  <link rel="stylesheet" href="//at.alicdn.com/t/font_1768920_7uttn1m7115.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
  <link rel="stylesheet" href="/assets/css/phonepublick.css">
  <link rel="stylesheet" href="/assets/css/phone/404.css">
</head>

<body>
  <!-- 首页 -->
  <!-- 头部导航 -->
  <div style="height: 100%;position: absolute;width: 100%;" id="pc">

    <!-- 第一屏 -->
    <section style="height: 100%;" class="section first">
      <div class="bg"></div>
      <div class="bgr"></div>
      <div class="container">
        <!-- 轮播区域 -->
        <div class="swiper-container swtext">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="slide-left">
                <p>
                  404 Error
                </p>
                <p>
                  抱歉，这里什么都没有…
                </p>
                <span class="xian"></span>
                <p>
                  <a href="../index.html"> 返回首页</a>
                  <i class="icon-youjiantou iconfont"></i>
                </p>
              </div>
              <div class="slide-right"><img src="/assets/imgs/404/error-404-colour@2x.png" alt=""
                  style="width: 420px; height: 429px;"></div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <div id="phone">
    <!-- 头部导航 -->
    <div class="pcheader">
      <h1 id="gotops"><img src="/assets/imgs/background/logo.png" alt=""></h1>
      <div class="dropdown">
        <button type="button" class="btn dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown">
          <span class="glyphicon glyphicon-menu-hamburger" style="font-size: 16px;"></span>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
          <li role="presentation">
            <a role="menuitem" tabindex="-1" href="/index.html">诚收法催</a>
          </li>
          <li role="presentation">
            <a role="menuitem" tabindex="-1" href="./AIcases.html">Ai律师函</a>
          </li>
          <li role="presentation">
            <a role="menuitem" tabindex="-1" href="./cases.html">律师办案</a>
          </li>
          <li role="presentation">
            <a role="menuitem" tabindex="-1" href="./assessment.html">案件评估</a>
          <li role="presentation">
            <a role="menuitem" tabindex="-1" href="./option.html">解决方案</a>
          </li>
          <li role="presentation">
            <a role="menuitem" tabindex="-1" href="./help.html">诉讼助资</a>
          </li>
        </ul>
      </div>
    </div>
    <!-- 第一屏 -->
    <div class="pcfirst">
      <div class="swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="slide-left">
              <p>
                404 Error
              </p>
              <p>
                抱歉，这里什么都没有…
              </p>
              <span class="xian"></span>
            </div>
            <div class="slide-right"><img style="width: 200px;" src="/assets/imgs/404/error-404-colour@2x.png" alt=""
                width="307px"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
<script src="/assets/js/jq.js"></script>
<script src="/assets/js/lang.js"></script>
<script src="/assets/js/js.js"></script>
<!-- <script src="../assets/js/flexible.js"></script> -->
<script src="/assets/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<script src="/assets/js/publick.js"></script>
<script src="/assets/swiper-5.2.1/js/swiper.min.js"></script>
<script>

</script>

</html>