<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0,minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta name="apple-touch-fullscreen" content="yes" />
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="msapplication-tap-highlight" content="no" />
  <title>诚收法催-关于我们</title>
  <link rel="stylesheet" href="/assets/bootstrap-3.3.7-dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/css/normailze.css">
  <link rel="stylesheet" href="/assets/css/publick.css">
  <link rel="stylesheet" href="/assets/swiper-5.2.1/css/swiper.min.css">
  <link rel="stylesheet" href="/assets/css/viewcss/about.css">
  <link rel="stylesheet" href="/assets/css/phonepublick.css">
  <link rel="stylesheet" href="/assets/css/phone/about.css">
  <link rel="stylesheet" href="/css/head.css" />
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/animate.css">
  <link rel="stylesheet" href="/css/slick.css">
  <link rel="stylesheet" href="/css/index.css">
  <link rel="stylesheet" href="/css/jquery.fullPage.css" />
</head>

<body>
  <!-- 首页 -->
  <!-- 头部导航 -->
  <header class="header">
    <div class="container clearfix">
      <div class="fl left">
        <a href="javascript:void(0)"><img src="http://file.debteehelper.com/logo/logo_zzbang_01.svg" alt="诚收法催LOGO"
            class="img1" /></a>
        <a href="javascript:void(0)"><img src="https://file.debteehelper.com/logo/logo.svg" alt="诚收法催LOGO"
            class="img2" /></a>
      </div>
      <div class="fr navRight">
        <ul>
          <li class="loginBtn"><a>登录/注册</a></li>
        </ul>
      </div>
      <div class="fr nav">
        <ul class="navbar_nav" data-in="fadeInDown" data-out="fadeOutUp">
          <li>
            <a href="/index.html">首页</a>
          </li>
          <li class="dropdown">
            <a href="javascript:void(0)">
              产品
            </a>
            <div class="dropdown_menu">
              <a href="/views/AIcases.html">Ai律师函</a>
              <a href="/views/cases.html">律师办案</a>
              <a href="/views/assessment.html">免费案件评估</a>
            </div>
          </li>
          <li>
            <a href="/views/option.html">解决方案</a>
          </li>
          <li>
            <a href="/views/demo.html">免费试用</a>
          </li>
          <li>
            <a href="/views/calculator.html">实用计算器</a>
          </li>
          <li class="active">
            <a href="/views/about.html">关于我们</a>
          </li>
        </ul>
      </div>
      <a href="javascript:void(0)" id="navToggle">
        <span></span>
      </a>
    </div>
  </header>
  <!-- 头部导航 -->
  <div class="m_nav">
    <div class="top clearfix">
      <img src="/image/closed.png" alt="" class="closed" />
    </div>
    <div class="logo">
      <img src="https://file.debteehelper.com/logo/logo_zzbang_02.png" alt="" />
    </div>
    <ul class="ul" data-in="fadeInDown" data-out="fadeOutUp">
      <li class="active">
        <a href="/index.html">首页</a>
      </li>
      <li class="dropdown">
        <a href="javascript:void(0)">
          产品
        </a>
        <div class="dropdown_menu">
          <a href="/views/AIcases.html">AI律师函</a>
          <a href="/views/cases.html">律师办案</a>
          <a href="/views/assessment.html">案件评估</a>
        </div>
      </li>
      <li class="dropdown">
        <a href="/views/option.html">解决方案</a>
      </li>
      <li>
        <a href="/views/demo.html">免费试用</a>
      </li>
      <li>
        <a href="/views/calculator.html">实用计算器</a>
      </li>
      <li>
        <a href="/views/about.html">关于我们</a>
      </li>
    </ul>
  </div>
  <div id="pc">
    <!-- 页面一 -->
    <section class="section first">
      <div class="bg"></div>
      <div class="bgr"></div>
      <!-- 轮播区域 -->
      <div class="swiper-container swtext">
        <div class="swiper-wrapper">
          <div class="maxwidthbox">
            <div class="swiper-slide">
              <div class="slide-left">
                <h3>
                  诚收法催
                </h3>
                <p>
                  以法律+科技为核心动力的法催服务平台
                </p>
                <span class="xian"></span>
              </div>
              <div class="slide-right"><img src="/assets/imgs/about/编组@2x.png" alt="" width="100%"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="twocontext">
        <div class="building">
          <img style="width: 750px;" src="/assets/imgs/about/matthew-henry-VviFtDJakYk-unsplash@2x.png" alt="">
          <div>
            <p>线上及线下法催服务均采用以债务人为中心、数据驱动的方式，帮助用户获得快速回款，有效改善现金流。始终致力于为用户提供专业、便捷、高效、合规、平价的一站式法催解决方案。</p>
          </div>
        </div>
      </div>


      <div class="threeimg">
        <div>
          <div class="titletext">
            <h4>愿景</h4>
            <div></div>
            <p>成为全球领先的法催服务提供商</p>
          </div>
        </div>
        <div>
          <div class="titletext">
            <h4>使命</h4>
            <div></div>
            <p>用法律+科技改变催收行业，实现用户目标，做诚信社会的守护者</p>
          </div>
        </div>
        <div>
          <div class="titletext">
            <h4>价值</h4>
            <div></div>
            <p>创新、共享、合规</p>
          </div>
        </div>
      </div>
    </section>

    <!-- 黑色数据统计区域 -->
    <section class="scction-two">
      <div class="data">
        <div>
          <img src="/assets/imgs/about/payment-o@2x.png" alt="">
          <div>30%</div>
          <p>回款率高于行业平均水平30%</p>
        </div>
        <div>
          <img src="/assets/imgs/about/chengben@2x.png" alt="">
          <div>50%</div>
          <p>回法催成本低于行业平均水平50%</p>
        </div>
        <div>
          <img src="/assets/imgs/about/形状@2x.png" alt="">
          <div>90%</div>
          <p>法催效率高于行业平均水平90%</p>
        </div>
      </div>
    </section>

    <!-- 主要区域 -->
    <section class="section-three">
      <!-- <div class="contont" style="padding-top: 86px">
        <h3 style="margin: 0 0 21px 0;">企业应收</h3>
        <div style="margin:0 0 60px 0" class="xian"></div>
        <div class="card">
          <div class="dlabel">
            <div class="photoimg">
              <img src="" alt="">
            </div>
            <div class="leadername">
              <h4>刘斌</h4>
              <p>创始人 / CEO</p>
            </div>
          </div>
          <div class="dlabel">
            <div class="photoimg">
              <img src="" alt="">
            </div>
            <div class="leadername">
              <h4>刘斌</h4>
              <p>创始人 / CEO</p>
            </div>
          </div>
          <div class="dlabel" style="padding: 26px;">
            <div class="leadername" style="height: 50px;">
              <h4 style="margin-top: 0;">刘斌</h4>
              <p>创始人 / CEO</p>
            </div>
            <p class="idcard">资深律师 <br>
              西北政法法学学士<br>
              新西兰怀卡托大学MBA<br>
              国际信用与催收专业协会（ACA）正式会员 </p>
            <div class="xian"></div>
            <p class="jianjie">
              曾任中国农业银行法律顾问，多家知名外企的总法律顾问及律师事务所创始合伙人。拥有二十年多年的银行逾期贷款及企业应收账款诉讼、执行和不良资产处置的丰富经验。对法律+科技在逾期管理及法律催收的垂直领域拥有独到见解
            </p>
          </div>
          <div class="dlabel">
            <div class="photoimg">
              <img src="" alt="">
            </div>
            <div class="leadername">
              <h4>刘斌</h4>
              <p>创始人 / CEO</p>
            </div>
          </div>
          <div class="dlabel">
            <div class="photoimg">
              <img src="" alt="">
            </div>
            <div class="leadername">
              <h4>刘斌</h4>
              <p>创始人 / CEO</p>
            </div>
          </div>
          <div class="dlabel">
            <div class="photoimg">
              <img src="" alt="">
            </div>
            <div class="leadername">
              <h4>刘斌</h4>
              <p>创始人 / CEO</p>
            </div>
          </div>
        </div> -->
      <div class="contont" style="padding-top: 86px">
        <h3 style="margin: 86px 0 21px 0;font-size: 24px;">技术专利</h3>
        <div style="margin:0 0 60px 0" class="xian"></div>
        <div class="lastcontont">
          <div>
            <div class="box">
              <div class="box-text">
                <div><img src="/assets/imgs/about/奖章 (1)@2x.png" alt=""></div>
                <h5>债主帮智能催收系统</h5>
                <p>计算机软件著作权登记证书 <br>
                  登记号：2020SR0141821<br>
                  授权日期：2020年02月17日</p>
              </div>
              <div class="box-img"></div>
            </div>
          </div>
          <div>
            <div class="box">
              <div class="box-text">
                <div><img src="/assets/imgs/about/奖章 (1)@2x.png" alt=""></div>
                <h5> 债主帮案件智能匹配系统</h5>
                <p>计算机软件著作权登记证书 <br>
                  登记号：2020SR0177428 <br>
                  授权日期：2020年02月26日</p>
              </div>
              <div class="box-img"></div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- 底部脚注 -->
    <section class="section footer">
      <div id="gotop" class="footertop"><i class="glyphicon glyphicon-arrow-up"></i></div>
      <div class="maxwidthbox">
        <div class="logo">
          <img src="https://file.debteehelper.com/logo/logo_zzbang_01.png" alt="">
        </div>
        <div class="container" style="margin: 0;">
          <!-- <h2>诚收法催</h2> -->
          <div class="contont">
            <div class="first">
              <h4>站内导航</h4>
              <div class="border"></div>
              <p><a href="/index.html">首页</a></p>
              <p><a href="./cases.html">解决方案</a></p>
              <p><a href="./about.html">关于我们</a></p>
              <!-- <p><a href="#">新闻公告</a></p> -->
              <p><a href="./demo.html">免费试用</a></p>
            </div>
            <div class="two">
              <h4>热点产品</h4>
              <div class="border"></div>
              <p><a href="./AIcases.html">Ai律师函</a></p>
              <p><a href="./cases.html">律师办案</a></p>
              <p><a href="./option.html">案件评估</a></p>
            </div>
            <!-- <div class="three">
              <h4>其他内容</h4>
              <div class="border"></div>
              <p><a href="./question.html">帮助中心</a></p>
              <p><a href="javascript:;">隐私政策</a></p>
            </div> -->
            <div class="mail">
              <p style="margin: 0;color: #7f7f7f;font-size: 14px;"><span style="color: #e1e1e1;">邮箱：
                </span>info@zzbang.vip</p><br>
              <p style="margin: 0;color: #7f7f7f;font-size: 14px;"><span style="color: #e1e1e1;">电话： </span>4006 321 918
              </p>
              <div class="erweima">
                <!-- <img src="https://www.zzbang.vip/CDN/img/pc/zzb.png" alt=""> -->
                <img src="https://file.debteehelper.com/webimg/zzb.jpg" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="bgbottom">Copyright Reserved 2021 ©债主帮 版权所有沪ICP备18012241号-2 </div>
    </section>
  </div>
  <div id="phone">
    <!-- 第一屏 -->
    <div class="pcfirst">
      <div class="swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="slide-left">
              <p>
                诚收法催
              </p>
              <p>
                以法律+科技为核心动力的法催服务平台
              </p>
              <span class="xian"></span>
            </div>
            <div class="slide-right"><img src="/assets/imgs/about/编组@2x.png" alt="" width="265px"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="session first" style="overflow: hidden;">
      <div class="imgss"><img style="width: 375px;" src="/assets/imgs/about/matthew-henry-VviFtDJakYk-unsplash@2x.png"
          alt="">
      </div>
      <p>线上及线下法催服务均采用以债务人为中心、数据驱动的方式，帮助用户获得快速回款，有效改善现金流。始终致力于为用户提供专业、便捷、高效、合规、平价的一站式法催解决方案。</p>
    </div>
    <div class="session two">
      <div class="swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide" style="background-image: url(/assets/imgs/background/愿景.png);">
            <!-- <img style="width: 312px;height: 460px;" src="" alt=""> -->
            <div class="titletext">
              <h4>愿景</h4>
              <div class="xian"></div>
              <p>成为全球领先的法催服务提供商</p>
            </div>
          </div>
          <div class="swiper-slide" style="background-image: url(/assets/imgs/background/使命0.png);">
            <div class="titletext">
              <h4>使命</h4>
              <div class="xian"></div>
              <p>用法律+科技改变催收行业，实现用户目标，做诚信社会的守护者</p>
            </div>
          </div>
          <div class="swiper-slide" style="background-image: url(/assets/imgs/background/价值0.png);">
            <div class="titletext">
              <h4>价值</h4>
              <div class="xian"></div>
              <p>创新、共享、合规</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="session three">
      <div class="title">
        <h4>我们的团队</h4>
        <div class="xian"></div>
      </div>
      <div>
        <div class="imgss"></div>
        <h3>刘斌</h3>
        <p>创始人 / CEO</p>
      </div>
    </div> -->
    <div class="session three five">
      <div class="title">
        <h4>技术专利</h4>
        <div class="xian"></div>
      </div>
      <div class="tenchange">
        <div class="medal"><img style="width: 140px;" src="/assets/imgs/about/奖章 (1)@2x.png" alt=""></div>
        <h3>债主帮计算机软件专利</h3>
        <p>计算机软件专利证书<br>
          专利号：ZL 02 3 14276.6 <br>
          授权日期：2020年6月2日</p>
      </div>
    </div>
    <!-- 底部 -->
    <div class="bottom">
      <div class="logo">
        <img style="width: 171px;" src="https://file.debteehelper.com/logo/logo_zzbang_01.png" alt="">
      </div>
      <div style="text-align: center;" class="erwema">
        <img src="https://file.debteehelper.com/webimg/zzb.jpg" alt="债主帮公众号二维码">
      </div>
      <div class="mask">
        <p>
          Copyright Reserved 2021 ©债主帮 <br>
          版权所有沪ICP备18012241号-2
        </p>
      </div>
    </div>
  </div>
</body>

<!-- <script src="https://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script> -->
<script src="../js/jquery.min.js"></script>
<script src="/assets/js/lang.js"></script>
<script src="/assets/js/js.js"></script>
<!-- <script src="../assets/js/flexible.js"></script> -->
<script src="/assets/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<script src="/assets/js/publick.js"></script>
<script src="/assets/swiper-5.2.1/js/swiper.min.js"></script>
<script src="/js/jquery.fullPage.min.js"></script>
<script src="/js/index_slick.js"></script>
<script src="/js/index.js"></script>
<script>
  var swiper = new Swiper('#phone .session.two  .swiper-container', {
    effect: 'coverflow', //3d滑动
    grabCursor: true,
    centeredSlides: true,
    slidesPerView: 'auto',
    loop: true,
    pagination: {
      el: '.swiper-pagination',
      clickable: true,
    },
  })
</script>

</html>