<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0,minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta name="apple-touch-fullscreen" content="yes" />
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="msapplication-tap-highlight" content="no" />
  <link rel="icon" href="../image/log3.png">
  <link rel="stylesheet" href="/assets/bootstrap-3.3.7-dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/css/normailze.css">
  <link rel="stylesheet" href="/assets/css/publick.css">
  <link rel="stylesheet" href="/assets/css/viewcss/index.css">
  <link rel="stylesheet" href="/assets/swiper-5.2.1/css/swiper.min.css">
  <link rel="stylesheet" href="//at.alicdn.com/t/font_1768920_7uttn1m7115.css">
  <link rel="stylesheet" href="/assets/css/viewcss/aicase.css">
  <link rel="stylesheet" href="/assets/css/viewcss/help.css">
  <link rel="stylesheet" href="/assets/css/phonepublick.css">
  <link rel="stylesheet" href="/assets/css/phone/help.css">
  <link rel="stylesheet" href="/css/head.css" />
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/animate.css">
  <link rel="stylesheet" href="/css/slick.css">
  <link rel="stylesheet" href="/css/index.css">
  <link rel="stylesheet" href="/css/jquery.fullPage.css" />
  <link rel="stylesheet" href="/css/zrnStyle.css?v=20211105">
</head>
<style>
  .footer {
    height: 600px;
  }

  .problemone .contont .usmore {
    position: absolute !important;
    bottom: 20px;
    left: 50% !important;
    transform: translateX(-50%);
  }
</style>

<body>
  <!-- 首页 -->
  <!-- 头部导航 -->
  <header class="header">
    <div class="container clearfix">
      <div class="fl left">
        <a href="javascript:void(0)"><img src="http://file.debteehelper.com/logo/logo_zzbang_01.svg" alt="诚收法催LOGO"
            class="img1" /></a>
        <a href="javascript:void(0)"><img src="https://file.debteehelper.com/logo/logo.svg" alt="诚收法催LOGO"
            class="img2" /></a>
      </div>
      <div class="fr navRight">
        <ul>
          <li class="loginBtn"><a>登录/注册</a></li>
        </ul>
      </div>
      <div class="fr nav">
        <ul class="navbar_nav" data-in="fadeInDown" data-out="fadeOutUp">
          <li>
            <a href="/index.html">首页</a>
          </li>
          <li class="dropdown active">
            <a href="javascript:void(0)">
              产品
            </a>
            <div class="dropdown_menu">
              <a href="/views/aicase.html">AI律师函</a>
              <a href="/views/lawcase.html">律师办案</a>
              <a href="/views/assess.html">免费案件评估</a>
              <a href="/views/addvalue.html">增值服务</a>
            </div>
          </li>
          <li>
            <a href="/views/solution.html">解决方案</a>
          </li>
          <li>
            <a href="/views/demo.html">免费试用</a>
          </li>
          <li>
            <a href="/views/calculator.html">实用计算器</a>
          </li>
          <li>
            <a href="/views/aboutus.html">关于我们</a>
          </li>
        </ul>
      </div>
      <a href="javascript:void(0)" id="navToggle">
        <span></span>
      </a>
    </div>
  </header>
  <!-- 头部导航 -->
  <div class="m_nav">
    <div class="top clearfix">
      <img src="/image/closed.png" alt="" class="closed" />
    </div>
    <div class="logo">
      <img src="https://file.debteehelper.com/logo/logo_zzbang_02.png" alt="" />
    </div>
    <ul class="ul" data-in="fadeInDown" data-out="fadeOutUp">
      <li class="active">
        <a href="/index.html">首页</a>
      </li>
      <li class="dropdown">
        <a href="javascript:void(0)">
          产品
        </a>
        <div class="dropdown_menu">
          <a href="/views/aicase.html">AI律师函</a>
          <a href="/views/lawcase.html">律师办案</a>
          <a href="/views/assess.html">案件评估</a>
          <a href="/views/addvalue.html">增值服务</a>
        </div>
      </li>
      <li class="dropdown">
        <a href="/views/solution.html">解决方案</a>
      </li>
      <li>
        <a href="/views/demo.html">免费试用</a>
      </li>
      <li>
        <a href="/views/calculator.html">实用计算器</a>
      </li>
      <li>
        <a href="/views/aboutus.html">关于我们</a>
      </li>
    </ul>
  </div>
  <div id="pc">
    <!-- 第一屏 -->
    <section class="section first">
      <div class="bg"></div>
      <div class="bgr"></div>
      <div class="container">
        <!-- 轮播区域 -->
        <div class="swiper-container" style="z-index:10">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="slide-left">
                <h3 style="height: 144px;">
                  诉讼助资 / 律师查档 / 保全保险
                </h3>
                <p>
                  法催赋能 全程无忧
                </p>
                <span class="xian"></span>
                <a class="usmore" href="/views/login.html?edit=2"><span>立即试用</span><i
                    class="icon-youjiantou iconfont"></i></a>
              </div>
              <div class="slide-right" style="width: 500px;height: 447px;"><img src="/assets/imgs/help/S4@2x.png" alt=""
                  width="100%"></div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- 选择切换区域 -->
    <div class="choice">
      <h4>诉讼助资</h4>
      <p>打官司 零成本 你诉讼 我付费</p>
      <ul>
        <li class="action">用户痛点</li>
        <li>解决方案</li>
      </ul>
    </div>

    <!-- 切换内容区域 -->
    <div class="box">
      <!-- 痛点 -->
      <div class="problem  show">
        <section class="problemone">
          <div class="contont">
            <div class="leftImg"><img src="/assets/imgs/help/Stress-pana@2x.png" alt=""></div>
            <div class="rights">
              <p>- 诉讼成本难负担<br>
                - 执行回款难保证<br>
                - 异地案件难上难<br>
                - 判决结果难预测<br>
                - 靠谱律师难寻找
              </p>
            </div>
            <a style="position: relative;left: -65px;" class="usmore"
              href="/views/login.html?edit=2"><span>提交诉讼助资需求</span><i class="icon-youjiantou iconfont"></i></a>
          </div>
        </section>
        <section class="problemtow">
          <div class="contont">
            <div class="lefts">
              <h5>律师查档</h5>
              <p>全国范围调取债务人财产信息、身份信息、工商档案、房产信息、应收账款、股权投资等。</p>
              <a class="usmore" href="/views/login.html?edit=2"><span>提交查档需求</span><i
                  class="icon-youjiantou iconfont"></i></a>
            </div>
            <div class="rightimg">
              <img src="/assets/imgs/help/编组10@2x.png" alt="">
            </div>
          </div>
        </section>
        <section class="problemthree">
          <div class="contont">
            <div class="leftImg"><img src="/assets/imgs/help/Businessman-amico(1)@2x.png" alt=""></div>
            <div class="rights baoquan">
              <h5>保全保险</h5>
              <p>优选对接各大保险及担保机构，提供全国各地法院认可的保全保险/担保。</p>
              <a style="position: relative;left: -65px;" class="usmore"
                href="/views/login.html?edit=2"><span>提交保险需求</span><i class="icon-youjiantou iconfont"></i></a>
            </div>
          </div>
        </section>
      </div>
      <!-- 方案 -->
      <div class="way problem">
        <section class="problemone">
          <div class="contont">
            <div class="leftImg"><img src="/assets/imgs/help/Atwork-pana备份@2x.png" alt=""></div>
            <div class="rights">
              <p>所有诉讼费用均由债主帮承担包括律师费、诉讼费、保全费、查档费、公证费、鉴定费、公告费等。案件回款后用户与平台再按约定比例分配诉讼收益。
              </p>
            </div>
            <a style="position: relative;left: -65px;" class="usmore"
              href="/views/login.html?edit=2"><span>提交诉讼助资需求</span><i class="icon-youjiantou iconfont"></i></a>
          </div>
        </section>
        <section class="problemtow">
          <div class="contont">
            <div class="lefts">
              <h5>律师查档</h5>
              <p>全国范围调取债务人财产信息、身份信息、工商档案、房产信息、应收账款、股权投资等。</p>
              <a class="usmore" href="/views/login.html?edit=2"><span>提交查档需求</span><i
                  class="icon-youjiantou iconfont"></i></a>
            </div>
            <div class="rightimg">
              <img src="/assets/imgs/help/编组10@2x.png" alt="">
            </div>
          </div>
        </section>
        <section class="problemthree">
          <div class="contont">
            <div class="leftImg"><img src="/assets/imgs/help/Businessman-amico(1)@2x.png" alt=""></div>
            <div class="rights baoquan">
              <h5>保全保险</h5>
              <p>优选对接各大保险及担保机构，提供全国各地法院认可的保全保险/担保。</p>
              <a style="position: relative;left: -65px;" class="usmore"
                href="/views/login.html?edit=2"><span>提交保险需求</span><i class="icon-youjiantou iconfont"></i></a>
            </div>
          </div>
        </section>
      </div>
    </div>
    <!-- <div class="start">
      <a href="./demo.html">
        <div class="button">
          <div class="text"> 立即预约</div>
          <div class="arrow"></div>
        </div>
      </a>
    </div> -->
  </div>
  <div id="phone">
    <!-- 第一屏 -->
    <div class="pcfirst">
      <div class="swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="slide-left">
              <p style="width: 307px;">
                诉讼助资 / 律师查档 / 保全保险
              </p>
              <p>
                专注于小额、批量、异地债务催收
              </p>
              <span class="xian"></span>
            </div>
            <div class="slide-right"><img src="/assets/imgs/help/S4@2x.png" alt="" width="260px"></div>
          </div>
        </div>
      </div>
    </div>
    <!-- 选择切换区域 -->
    <div class="choice">
      <h4>诉讼助资</h4>
      <p>打官司 零成本 你诉讼 我付费</p>
      <ul>
        <li class="action">用户痛点</li>
        <li>解决方案</li>
      </ul>
    </div>
    <div class="box">
      <div class="problem show">
        <div class="session first">
          <div class="imgss"><img style="width: 258px;" src="/assets/imgs/help/Stress-pana@2x.png" alt="">
          </div>
          <p>诉讼成本难负担/ 判决结果难预测/执行回款难保证/靠谱律师难寻找/ 异地案件难上难</p>
        </div>
        <div class="session two">
          <h4>律师查档</h4>
          <div class="imgss"><img style="width: 248px;" src="/assets/imgs/help/编组10@2x.png" alt="">
          </div>
          <p>全国范围调取债务人财产信息、身份信息、工商档案、房产信息、应收账款、股权投资等。</p>
        </div>
        <div class="session three">
          <h4>保全保险</h4>
          <div class="imgss"><img style="width: 248px;" src="/assets/imgs/help/Businessman-amico(1)@2x.png" alt="">
          </div>
          <p>优选对接各大保险及担保机构，提供全国各地法院认可的保全保险/担保。</p>
        </div>
      </div>
      <div class="way">
        <div class="session first">
          <div class="imgss"><img style="width: 258px;" src="/assets/imgs/help/Atwork-pana备份@2x.png" alt="">
          </div>
          <p>所有诉讼费用均由债主帮承担包括律师费、诉讼费、保全费、查档费、公证费、鉴定费、公告费等。案件回款后用户与平台再按约定比例分配诉讼收益。</p>
        </div>
        <div class="session two">
          <h4>律师查档</h4>
          <div class="imgss"><img style="width: 248px;" src="/assets/imgs/help/编组10@2x.png" alt="">
          </div>
          <p>全国范围调取债务人财产信息、身份信息、工商档案、房产信息、应收账款、股权投资等。</p>
        </div>
        <div class="session three">
          <h4>保全保险</h4>
          <div class="imgss"><img style="width: 248px;" src="/assets/imgs/help/Businessman-amico(1)@2x.png" alt="">
          </div>
          <p>优选对接各大保险及担保机构，提供全国各地法院认可的保全保险/担保。</p>
        </div>
      </div>
    </div>
    <!-- 立即试用 -->
    <div class="demo">
      <a href="./demo.html">
        <div class="button">
          <div class="text"> 立即试用</div>
          <i class="icon-youjiantou iconfont"></i>
        </div>
      </a>
    </div>
  </div>
  <div class="section footer bgcolor-2">
    <div class="container">
      <div class="maxwidthbox5">
        <div id="gotop" class="footertop"><i class="glyphicon glyphicon-arrow-up"></i></div>
        <div class="footer-box">
          <div class="logo">
            <img src="https://file.debteehelper.com/logo/logo_zzbang_01.png" alt="诚收法催LOGO">
          </div>
          <div class="footer-text" style="margin: 0;">
            <!-- <h2>诚收法催</h2> -->
            <div class="footer-text-contont">
              <div class="first">
                <h4>站内导航</h4>
                <div class="border"></div>
                <p><a href="/index.html">首页</a></p>
                <p><a href="/views/solution.html">解决方案</a></p>
                <p><a href="/views/aboutus.html">关于我们</a></p>
                <!-- <p><a href="/views/help.html">新闻公告</a></p> -->
                <p><a href="/views/demo.html">免费试用</a></p>
              </div>
              <div class="two">
                <h4>热点产品</h4>
                <div class="border"></div>
                <p><a href="/views/aicase.html">AI律师函</a></p>
                <p><a href="/views/lawcase.html">律师办案</a></p>
                <p><a href="/views/assess.html">案件评估</a></p>
                <p><a href="/views/addvalue.html">增值服务</a></p>
              </div>
              <!-- <div class="three">
                <h4>其他内容</h4>
                <div class="border"></div>
                <p><a href="/views/help.html">帮助中心</a></p>
                <p><a href="/views/help.html">隐私政策</a></p>
              </div> -->
              <div class="mail">
                <p style="margin: 0;color: #7f7f7f;font-size: 14px;white-space: nowrap;"><span
                    style="color: #e1e1e1;">邮箱：
                  </span>service@debteehelper.com</p><br>
                <p style="margin: 0;color: #ec193a;font-weight: bold;font-size: 14px;"><span style="color: #e1e1e1;">电话：
                  </span>4006
                  321 918</p>
                <div class="erweima">
                  <!-- <img src="https://www.zzbang.vip/CDN/img/pc/zzb.png" alt=""> -->
                  <img src="https://file.debteehelper.com/webimg/zzb.jpg" alt="">
                </div>
              </div>
            </div>
          </div>
          <div class="erwema">
            <img src="https://file.debteehelper.com/webimg/zzb.jpg" alt="债主帮公众号二维码">
          </div>
          <div class="bottom-text">
            <p style="margin: 0;color: #7f7f7f;font-size: 14px;"><span
                style="color: #e1e1e1;"></span>service@debteehelper.com</p><br>
            <p style="margin: 0;color: #7f7f7f;"><span style="color: #e1e1e1;"></span><a style="color: #ec193a;font-size:18px;text-decoration: revert;
              font-weight: bold;" href="tel:4006 321 918">4006 321 918</a></p>
          </div>
        </div>
      </div>
    </div>
    <div class="bgbottom">Copyrights Reserved 2021 ©债主帮<br> 版权所有<a target="_blank" style="color: #ff6a00;"
        href="https://beian.miit.gov.cn/#/Integrated/index">沪ICP备18012241号-2</a></div>
  </div>
  <div class="customer">
    <div class="left">
      <div id="phone-text">咨询电话：4006 321 918</div>
      <div id="weChat-img"><img src="https://file.debteehelper.com/webimg/zzb.jpg" alt=""></div>
    </div>
    <div class="right">
      <div onclick="qimoChatClick()">
        <img src="../../image/customer.41128af4.png" alt="">
        <span>在线咨询</span>
      </div>
      <div id="phone-right">
        <img src="../../image/phone.92474518.svg" alt="">
        <span>电话咨询</span>
      </div>
      <div id="weChat">
        <img src="../../image/WeChat.svg" alt="">
        <span>微信公众号</span>
      </div>
    </div>
  </div>
</body>
<!-- <script src="https://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script> -->
<script src="../js/jquery.min.js"></script>
<script src="/assets/js/lang.js"></script>
<script src="/assets/js/js.js"></script>
<script src="/assets/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<script src="/assets/js/publick.js"></script>
<script src="/js/jquery.fullPage.min.js"></script>
<script src="/js/index_slick.js"></script>
<script src="/js/index.js"></script>
<script type='text/javascript'
  src='https://webchat.7moor.com/javascripts/7moorInit.js?accessId=9284ed30-cb74-11e8-b094-ffcbf0de5a60&autoShow=false&language=ZHCN'
  async='async'>
  </script>
<script>

  $(function () {
    $("#pc .choice>ul>li").click(function () {
      $(this).addClass("action").siblings().removeClass("action");
      $("#pc .box > div").eq($(this).index()).addClass("show").siblings().removeClass("show")
    })
    $("#phone .choice>ul>li").click(function () {
      $(this).addClass("action").siblings().removeClass("action");
      $("#phone .box > div").eq($(this).index()).addClass("show").siblings().removeClass("show")
    })
  })
</script>

</html>