<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0,minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta name="apple-touch-fullscreen" content="yes" />
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="msapplication-tap-highlight" content="no" />
  <title>债主帮-免费试用</title>
  <link rel="icon" href="../image/log3.png">
  <link rel="stylesheet" href="/assets/bootstrap-3.3.7-dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/css/normailze.css">
  <link rel="stylesheet" href="/assets/css/publick.css">
  <link rel="stylesheet" href="/assets/css/viewcss/index.css">
  <link rel="stylesheet" href="/assets/swiper-5.2.1/css/swiper.min.css">
  <link rel="stylesheet" href="//at.alicdn.com/t/font_1768920_7uttn1m7115.css">
  <link rel="stylesheet" href="/assets/css/viewcss/demo.css">
  <link rel="stylesheet" href="/assets/css/phonepublick.css">
  <link rel="stylesheet" href="/assets/css/phone/demo.css">
  <link rel="stylesheet" href="/css/head.css" />
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/animate.css">
  <link rel="stylesheet" href="/css/slick.css">
  <link rel="stylesheet" href="/css/index.css">
  <link rel="stylesheet" href="/css/jquery.fullPage.css" />
  <link rel="stylesheet" href="/css/msgbox.css">
  <link rel="stylesheet" href="/css/zrnStyle.css?v=20211105">
</head>
<style>
  .footer {
    height: 600px;
  }
</style>

<body>
  <!-- 首页 -->
  <!-- 头部导航 -->
  <header class="header">
    <div class="container clearfix">
      <div class="fl left">
        <a href="javascript:void(0)"><img src="http://file.debteehelper.com/logo/logo_zzbang_01.svg" alt="诚收法催LOGO"
            class="img1" /></a>
        <a href="javascript:void(0)"><img src="https://file.debteehelper.com/logo/logo.svg" alt="诚收法催LOGO"
            class="img2" /></a>
      </div>
      <div class="fr navRight">
        <ul>
          <li class="loginBtn"><a>登录/注册</a></li>
        </ul>
      </div>
      <div class="fr nav">
        <ul class="navbar_nav" data-in="fadeInDown" data-out="fadeOutUp">
          <li>
            <a href="/index.html">首页</a>
          </li>
          <li class="dropdown">
            <a href="javascript:void(0)">
              产品
            </a>
            <div class="dropdown_menu">
              <a href="/views/aicase.html">AI律师函</a>
              <a href="/views/lawcase.html">律师办案</a>
              <a href="/views/assess.html">免费案件评估</a>
              <a href="/views/addvalue.html">增值服务</a>
            </div>
          </li>
          <li class="dropdown">
            <a href="/views/solution.html">解决方案</a>
          </li>
          <li class="active">
            <a href="/views/demo.html">免费试用</a>
          </li>
          <li>
            <a href="/views/calculator.html">实用工具</a>
          </li>
          <li>
            <a href="/views/aboutus.html">关于我们</a>
          </li>
        </ul>
      </div>
      <a href="javascript:void(0)" id="navToggle">
        <span></span>
      </a>
    </div>
  </header>
  <!-- 头部导航 -->
  <div class="m_nav">
    <div class="top clearfix">
      <img src="/image/closed.png" alt="" class="closed" />
    </div>
    <div class="logo">
      <img src="https://file.debteehelper.com/logo/logo_zzbang_02.png" alt="" />
    </div>
    <ul class="ul" data-in="fadeInDown" data-out="fadeOutUp">
      <li class="active">
        <a href="/index.html">首页</a>
      </li>
      <li class="dropdown">
        <a href="javascript:void(0)">
          产品
        </a>
        <div class="dropdown_menu">
          <a href="/views/aicase.html">AI律师函</a>
          <a href="/views/lawcase.html">律师办案</a>
          <a href="/views/assess.html">案件评估</a>
          <a href="/views/addvalue.html">增值服务</a>
        </div>
      </li>
      <li class="dropdown">
        <a href="/views/solution.html">解决方案</a>
      </li>
      <li>
        <a href="/views/demo.html">免费试用</a>
      </li>
      <li>
        <a href="/views/calculator.html">实用工具</a>
      </li>
      <li>
        <a href="/views/aboutus.html">关于我们</a>
      </li>
    </ul>
  </div>
  <div id="pc">
    <!-- 第一屏 -->
    <section class="section first">
      <div class="bg"> <img style=" width: 100%;" src="/assets/imgs/background/背景4.png" alt=""></div>
      <div class="bgr"></div>
      <div class="container">
        <!-- 轮播区域 -->
        <div class="swtext">
          <div class="swtext-wrapper">
            <div class="swtext-slide">
              <div class="swtext-left">
                <h3 style="width: 424px;height: 48px;color: #fff;font-size: 48px;">
                  即刻预约在线演示
                </h3>
                <p style="width: 389px;font-size: 22px;font-weight: 400 !important;color: #fff;">
                  一对一演示服务，快速体验产品
                </p>
                <span class="xian"></span>
              </div>
              <div class="swtext-right" style="width: 438px;height: 409px;"><img
                  src="/assets/imgs/demo/Telecommuting-rafiki@2x.png" alt="" style="width: 438px;height: 409px;">
              </div>
            </div>
          </div>
        </div>

        <!-- <div class="swiper-container">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="slide-left">
                <h3 style="height: 144px;">
                  即刻预约在线演示
                </h3>
                <p>
                  一对一演示服务，快速体验产品
                </p>
                <span class="xian"></span>
              </div>
              <div class="slide-right" style="width: 438px;height: 409px;"><img
                  src="/assets/imgs/demo/Telecommuting-rafiki@2x.png" alt="" width="100%"></div>
            </div>
          </div>
        </div>
      </div> -->
    </section>

    <!-- 问题区域 -->
    <div class="choice">
      <div class="left">
        <form>
          <label for="inputname" class="col-sm-2">联系人<span style="color: #ec193a;">*</span></label>
          <input type="text" id="contacts_name" class="form-control" value="" required="required" pattern=""
            placeholder="请输入您的名字" title="">
          <label for="inputname" class="col-sm-2">联系电话<span style="color: #ec193a;">*</span></label>
          <input type="text" id="phone_number" class="form-control" value="" required="required" pattern="" title=""
            placeholder="请输入您的电话号码">
          <label for="inputname" class="col-sm-2">邮箱<span style="color: #ec193a;">*</span></label>
          <input type="text" id="email" class="form-control" value="" required="required" pattern="" title=""
            placeholder="请输入您的邮箱">
          <label for="inputname" class="col-sm-2">企业名称<span style="color: #ec193a;">*</span></label>
          <input type="text" id="corporate_name" class="form-control" value="" required="required" pattern="" title=""
            placeholder="请输入您的企业名称">
          <label for="inputname" class="col-sm-2">所属行业</label>
          <input type="text" id="industry" class="form-control" value="" required="required" pattern="" title=""
            placeholder="请输入您的所属行业">
          <label for="inputname" class="col-sm-2">需求描述</label>
          <input type="text" id="requirement_desc" class="form-control" value="" required="required" pattern="" title=""
            placeholder="请输入您的需求">
        </form>
      </div>
      <div class="rightss">
        <h5>我们会尽快与您取得联系，按照您的日程安排预约演示时间/演示功能/设计专属解决方案</h5>
        <ul>
          <li><img src="/assets/imgs/background/预约演示1.png" alt="">快速产品功能演示</li>
          <li><img src="/assets/imgs/background/预约演示2.png" alt=""> 定制化解决方案</li>
          <li><img src="/assets/imgs/background/预约演示3.png" alt="">专属顾问在线答疑</li>
        </ul>
        <div class="start">
          <a>
            <div class="button submit">
              <div class="text"> 立即预约</div>
              <div class="arrow"></div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div id="phone">
    <!-- 第一屏 -->
    <div class="pcfirst">
      <div class="swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="slide-left">
              <p>
                即刻预约在线演示
              </p>
              <p>
                一对一演示服务，快速体验产品
              </p>
              <span class="xian"></span>
            </div>
            <div class="slide-right">1<img src="/assets/imgs/demo/Telecommuting-rafiki@2x.png" alt="" width="307px">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="session first">
      <div class="frombox">
        <form>
          <label for="inputname" class="col-sm-2">联系人<span style="color: #ec193a;">*</span></label>
          <input type="text" id="contacts_name2" class="form-control" value="" required="required" pattern=""
            placeholder="请输入您的名字" title="">
          <label for="inputname" class="col-sm-2">联系电话<span style="color: #ec193a;">*</span></label>
          <input type="text" id="phone_number2" class="form-control" value="" required="required" pattern="" title=""
            placeholder="请输入您的电话号码">
          <label for="inputname" class="col-sm-2">邮箱<span style="color: #ec193a;">*</span></label>
          <input type="text" id="email2" class="form-control" value="" required="required" pattern="" title=""
            placeholder="请输入您的邮箱">
          <label for="inputname" class="col-sm-2">企业名称<span style="color: #ec193a;">*</span></label>
          <input type="text" id="corporate_name2" class="form-control" value="" required="required" pattern="" title=""
            placeholder="请输入您的企业名称">
          <label for="inputname" class="col-sm-2">所属行业</label>
          <input type="text" id="industry2" class="form-control" value="" required="required" pattern="" title=""
            placeholder="请输入您的所属行业">
          <label for="inputname" class="col-sm-2">需求描述</label>
          <input type="text" id="requirement_desc2" class="form-control" value="" required="required" pattern=""
            title="" placeholder="请输入您的需求">
          <button type="button" class="btn btn-primary submit2">立即预约</button>
        </form>
      </div>
    </div>
  </div>
  <div class="section footer bgcolor-2">
    <div class="container">
      <div class="maxwidthbox5">
        <div id="gotop" class="footertop"><i class="glyphicon glyphicon-arrow-up"></i></div>
        <div class="footer-box">
          <div class="logo">
            <img src="https://file.debteehelper.com/logo/logo_zzbang_01.png" alt="诚收法催LOGO">
          </div>
          <div class="footer-text" style="margin: 0;">
            <!-- <h2>诚收法催</h2> -->
            <div class="footer-text-contont">
              <div class="first">
                <h4>站内导航</h4>
                <div class="border"></div>
                <p><a href="/index.html">首页</a></p>
                <p><a href="/views/solution.html">解决方案</a></p>
                <p><a href="/views/aboutus.html">关于我们</a></p>
                <!-- <p><a href="/views/help.html">新闻公告</a></p> -->
                <p><a href="/views/demo.html">免费试用</a></p>
              </div>
              <div class="two">
                <h4>热点产品</h4>
                <div class="border"></div>
                <p><a href="/views/aicase.html">AI律师函</a></p>
                <p><a href="/views/lawcase.html">律师办案</a></p>
                <p><a href="/views/assess.html">案件评估</a></p>
                <p><a href="/views/addvalue.html">增值服务</a></p>
              </div>
              <!-- <div class="three">
                <h4>其他内容</h4>
                <div class="border"></div>
                <p><a href="/views/help.html">帮助中心</a></p>
                <p><a href="/views/help.html">隐私政策</a></p>
              </div> -->
              <div class="mail">
                <p style="margin: 0;color: #7f7f7f;font-size: 14px;white-space: nowrap;"><span
                    style="color: #e1e1e1;">邮箱：
                  </span>service@debteehelper.com</p><br>
                <p style="margin: 0;color: #ec193a;font-weight: bold;font-size: 14px;"><span style="color: #e1e1e1;">电话：
                  </span>4006
                  321 918</p>
                <div class="erweima">
                  <!-- <img src="https://www.zzbang.vip/CDN/img/pc/zzb.png" alt=""> -->
                  <img src="https://file.debteehelper.com/webimg/zzb.jpg" alt="">
                </div>
              </div>
            </div>
          </div>
          <div class="erwema">
            <img src="https://file.debteehelper.com/webimg/zzb.jpg" alt="债主帮公众号二维码">
          </div>
          <div class="bottom-text">
            <p style="margin: 0;color: #7f7f7f;font-size: 14px;"><span
                style="color: #e1e1e1;"></span>service@debteehelper.com</p><br>
            <p style="margin: 0;color: #7f7f7f;"><span style="color: #e1e1e1;"></span><a style="color: #ec193a;font-size:18px;text-decoration: revert;
              font-weight: bold;" href="tel:4006 321 918">4006 321 918</a></p>
          </div>
        </div>
      </div>
    </div>
    <div class="bgbottom">Copyrights Reserved 2021 ©债主帮<br> 版权所有<a target="_blank" style="color: #ff6a00;"
        href="https://beian.miit.gov.cn/#/Integrated/index">沪ICP备18012241号-2</a></div>
  </div>
  <!-- 弹窗提示 -->
  <div class="toast">
    <div class="toast-box">
      <div>
        <img class="toast-icon" src="">
        <div class="toast-text"></div>
      </div>
    </div>
  </div>
  <div class="customer">
    <div class="left">
      <div id="phone-text">咨询电话：4006 321 918</div>
      <div id="weChat-img"><img src="https://file.debteehelper.com/webimg/zzb.jpg" alt=""></div>
    </div>
    <div class="right">
      <div onclick="qimoChatClick()">
        <img src="../../image/customer.41128af4.png" alt="">
        <span>在线咨询</span>
      </div>
      <div id="phone-right">
        <img src="../../image/phone.92474518.svg" alt="">
        <span>电话咨询</span>
      </div>
      <div id="weChat">
        <img src="../../image/WeChat.svg" alt="">
        <span>微信公众号</span>
      </div>
      <div id="goTop">
        <img src="../../image/Top.png" alt="">
        <span>回到顶部</span>
      </div>
    </div>
  </div>
</body>
<!-- <script src="https://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script> -->
<script src="../js/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/twitter-bootstrap/4.3.0/js/bootstrap.min.js"></script>
<script src="/js/jquery.fullPage.min.js"></script>
<script src="/js/index_slick.js"></script>
<script src="/assets/js/jquery.running.min.js"></script>
<script src="/js/index.js"></script>
<script src="/js/msgbox.js"></script>
<script src="/assets/js/js.js"></script>
<script type='text/javascript'
  src='https://webchat.7moor.com/javascripts/7moorInit.js?accessId=9284ed30-cb74-11e8-b094-ffcbf0de5a60&autoShow=false&language=ZHCN'
  async='async'>
  </script>
<script>

  $(function () {
    var btnType = true
    function clickautohide(i, tp) {
      var tip = "";
      switch (i) {
        case 1:
          tip = tp; //警告
          break;
        case 4:
          tip = tp; //成功
          break;
        case 5:
          tip = tp; //失败
          break;
        case 6:
          tip = tp; //加载中
          break;
      }
      ZENG.msgbox.show(tip, i, 3000);
    }
    $(".panel-heading").click(function () {
      if ($(this).children('.slidedowm').hasClass("glyphicon-menu-down")) {
        $(".panel-body").hide()
        $('.slidedowm').removeClass("glyphicon-menu-up").addClass("glyphicon-menu-down")
        $(this).children('.slidedowm').parent().next().stop().show()
        $(this).children('.slidedowm').removeClass("glyphicon-menu-down").addClass("glyphicon-menu-up")
      } else {
        $(this).children('.slidedowm').parent().next().stop().hide()
        $(this).children('.slidedowm').removeClass("glyphicon-menu-up").addClass("glyphicon-menu-down")
      }
    })
    $(".submit").click(function () {
      if (!btnType) {
        openToast("您点的太频繁啦", "warn")
        return false
      }
      btnType = false
      let isOk = true
      let parmas = {
        contacts_name: $('#contacts_name').val(),
        phone_number: $('#phone_number').val(),
        email: $('#email').val(),
        corporate_name: $('#corporate_name').val(),
        industry: $('#industry').val(),
        requirement_desc: $('#requirement_desc').val()
      }
      Object.keys(parmas).forEach(key => {
        if (key != 'requirement_desc' && key != "industry" && parmas[key] == "") {
          openToast("请完善资料", "warn")
          isOk = false
          btnType = true
        }
      })
      if (isOk) {
        $.ajax({
          url: "https://api2.debteehelper.com/api/VipMember/VipApply",
          type: "POST",
          dataType: "JSON",
          data: JSON.stringify(parmas),
          contentType: 'application/json;charset=UTF-8',
          success: function (res) {
            btnType = true
            if (res.data != 0) {
              openToast("提交成功,我们的工作人员将尽快与您联系确认", "success")
              $('#contacts_name').val("")
              $('#phone_number').val("")
              $('#email').val("")
              $('#corporate_name').val("")
              $('#industry').val("")
              $('#requirement_desc').val("")
            } else {
              openToast("网络异常", "err")
            }
          }
        })
      }
    })
    $(".submit2").click(function () {
      if (!btnType) {
        openToast("您点的太频繁啦", "warn")
        return false
      }
      btnType = false
      let isOk = true
      let parmas = {
        contacts_name: $('#contacts_name2').val(),
        phone_number: $('#phone_number2').val(),
        email: $('#email2').val(),
        corporate_name: $('#corporate_name2').val(),
        industry: $('#industry2').val(),
        requirement_desc: $('#requirement_desc2').val()
      }
      Object.keys(parmas).forEach(key => {
        if (key != 'requirement_desc' && key != "industry" && parmas[key] == "") {
          openToast("请完善资料", "warn")
          isOk = false
          btnType = true
        }
      })
      console.log(parmas);
      if (isOk) {
        $.ajax({
          url: "https://api2.debteehelper.com/api/VipMember/VipApply",
          type: "POST",
          dataType: "JSON",
          data: JSON.stringify(parmas),
          contentType: 'application/json;charset=UTF-8',
          success: function (res) {
            btnType = true
            if (res.data != 0) {
              openToast("提交成功,我们的工作人员将尽快与您联系确认", "success")
              $('#contacts_name2').val("")
              $('#phone_number2').val("")
              $('#email2').val("")
              $('#corporate_name2').val("")
              $('#industry2').val("")
              $('#requirement_desc2').val("")
            } else {
              openToast("网络异常", "err")
            }
          }
        })
      }
    })
  })
</script>

</html>