<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0,minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta name="apple-touch-fullscreen" content="yes" />
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="msapplication-tap-highlight" content="no" />
  <link rel="icon" href="../image/log3.png">
  <link rel="stylesheet" href="/assets/bootstrap-3.3.7-dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/css/normailze.css">
  <link rel="stylesheet" href="/assets/css/viewcss/index.css">
  <link rel="stylesheet" href="/assets/css/publick.css?v=2021430">
  <link rel="stylesheet" href="/assets/swiper-5.2.1/css/swiper.min.css">
  <link rel="stylesheet" href="//at.alicdn.com/t/font_1768920_7uttn1m7115.css">
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css"> -->
  <link rel="stylesheet" href="/assets/css/viewcss/login.css?v=2021627">
  <link rel="stylesheet" href="/assets/css/phonepublick.css">
  <link rel="stylesheet" href="/assets/css/phone/login.css">
  <link rel="stylesheet" href="/css/head.css" />
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/animate.css">
  <link rel="stylesheet" href="/css/slick.css">
  <link rel="stylesheet" href="/css/index.css">
  <link rel="stylesheet" href="/css/jquery.fullPage.css" />
  <link rel="stylesheet" href="/css/msgbox.css">
  <link rel="stylesheet" href="/css/zrnStyle.css?v=20211105">
</head>
<style>
  .forgetForm {
    display: none;

  }

  .zhuce {
    display: none;
  }

  .loginfrom {
    height: auto !important;
    padding-bottom: 20px !important;
  }

  button:focus {
    outline: 0 !important;
    border: none !important;
  }

  .loginForm2 {
    display: none;
  }

  .apply {
    color: #ec193a;
  }
</style>

<body>
  <!-- 首页 -->
  <!-- 头部导航 -->
  <header class="header">
    <div class="container clearfix">
      <div class="fl left">
        <a href="javascript:void(0)"><img src="http://file.debteehelper.com/logo/logo_zzbang_01.svg" alt="诚收法催LOGO"
            class="img1" /></a>
        <a href="javascript:void(0)"><img src="https://file.debteehelper.com/logo/logo.svg" alt="诚收法催LOGO"
            class="img2" /></a>
      </div>
      <div class="fr navRight">
        <ul>
          <li class="loginBtn"><a>登录/注册</a></li>
        </ul>
      </div>
      <div class="fr nav">
        <ul class="navbar_nav" data-in="fadeInDown" data-out="fadeOutUp">
          <li>
            <a href="/index.html">首页</a>
          </li>
          <li class="dropdown">
            <a href="javascript:void(0)">
              产品
            </a>
            <div class="dropdown_menu">
              <a href="/views/aicase.html">AI律师函</a>
              <a href="/views/lawcase.html">律师办案</a>
              <a href="/views/assess.html">免费案件评估</a>
              <a href="/views/addvalue.html">增值服务</a>
            </div>
          </li>
          <li class="dropdown">
            <a href="/views/solution.html">解决方案</a>
          </li>
          <li>
            <a href="/views/demo.html">免费试用</a>
          </li>
          <li>
            <a href="/views/calculator.html">实用工具</a>
          </li>
          <li>
            <a href="/views/aboutus.html">关于我们</a>
          </li>
        </ul>
      </div>
      <a href="javascript:void(0)" id="navToggle">
        <span></span>
      </a>
    </div>
  </header>
  <!-- 头部导航 -->
  <div class="m_nav">
    <div class="top clearfix">
      <img src="/image/closed.png" alt="" class="closed" />
    </div>
    <div class="logo">
      <img src="https://file.debteehelper.com/logo/logo.svg" alt="" />
    </div>
    <ul class="ul" data-in="fadeInDown" data-out="fadeOutUp">
      <li>
        <a href="/index.html">首页</a>
      </li>
      <li class="dropdown">
        <a href="javascript:void(0)">
          产品
        </a>
        <div class="dropdown_menu">
          <a href="/views/aicase.html">AI律师函</a>
          <a href="/views/lawcase.html">律师办案</a>
          <a href="/views/assess.html">案件评估</a>
          <a href="/views/addvalue.html">增值服务</a>
        </div>
      </li>
      <li class="dropdown">
        <a href="/views/solution.html">解决方案</a>
      </li>
      <li>
        <a href="/views/demo.html">免费试用</a>
      </li>
      <li>
        <a href="/views/calculator.html">实用工具</a>
      </li>
      <li>
        <a href="/views/aboutus.html">关于我们</a>
      </li>
    </ul>
  </div>
  <div id="pc">
    <!-- 第一屏 -->
    <section class="section first">
      <div class="bg"></div>
      <div class="bgr"></div>
      <div class="container">
        <div class="loginimg">
          <img src="/assets/imgs/login/Login-rafiki@2x.png" style="width: 604px; height: 504px;" alt="">
        </div>
        <div class="loginfromBox">
          <div id="uploading" class="loading-bg">
            <img src="../image/loading2.gif" alt="">
          </div>
          <div class="headerimg"><img src="https://file.debteehelper.com/logo/logo.svg" alt=""></div>
          <ul class="changelogin">
            <li class="action">用户登录</li>
            <li>律师登录</li>
          </ul>
          <div class="box">
            <div class="show">
              <form class="loginForm">
                <p class="changePhone">切换到手机登录</p>
                <input type="text" name="userName" class="form-control" required="required" title="" placeholder="登录名">
                <div class="passwordBox">
                  <input type="password" name="passWord" class="form-control" required="required" title=""
                    placeholder="密码">
                  <img class="eyes passWord" onclick="switchPwd('passWord')" src="../image/miwen.png" alt="">
                </div>
                <button type="button" id="login1" class="btn btn-primary">登 录</button>
                <div class="loginfoot">
                  <div class="apply">没有账号?点击注册</div>
                  <div style="cursor: pointer;" class="forget">忘记密码</div>
                </div>
              </form>
              <form class="loginForm2">
                <p class="changeAccount">切换到账号登录</p>
                <input type="text" id="phone_number2" class="form-control" required="required" title=""
                  placeholder="手机号码">
                <div style="display: flex;" class="passwordBox">
                  <input class="form-control" required="required" id="phoneLoginCode" placeholder="验证码">
                  <span style="height: 42px;line-height: 42px;" id="getAdminCode2" class="getCode">获取验证码</span>
                </div>
                <button type="button" id="loginPhone" class="btn btn-primary">登 录</button>
                <div class="loginfoot">
                  <div class="apply">没有账号?点击注册</div>
                  <div style="cursor: pointer;" class="forget">忘记密码</div>
                </div>
              </form>
              <!-- 注册账号 -->
              <form class="register">
                <div id="uploading" class="loading-bg">
                  <img src="../image/loading2.gif" alt="">
                </div>
                <div class="from-item">
                  <span class="lable">上传营业执照</span>
                  <span class="value">
                    <div class="upload">
                      <div class="upload-left">
                        <input class="upload-file" type="file" id="Business" accept="image/*">
                        <div class="upload-img"></div>
                        <img class="upload-img-text" id="Business_img" src="" />
                        <img class="icon" src="../image/upload.png" />
                      </div>
                      <div class="upload-right">
                        <p>营业执照为最新版原文件拍照照片，要求文件四角都在图片内，清晰无遮挡，图片水印不可与办理业务无关。支持jpg、jpeg、png格式文件，文件须小于10M。</p>
                      </div>
                    </div>
                  </span>
                </div>
                <div class="from-item">
                  <span class="lable">债权人名称</span>
                  <span class="value">
                    <input type="text" name="creditorName" id="creditor_name" class="form-control" required="required"
                      placeholder="上传债权人可自动填充">
                  </span>
                </div>
                <div class="from-item">
                  <span class="lable">统一社会信用代码</span>
                  <span class="value">
                    <input type="text" name="creditCode" id="license_no" class="form-control" required="required"
                      placeholder="上传债权人可自动填充">
                  </span>
                </div>
                <div class="from-item">
                  <span class="lable">管理员姓名</span>
                  <span class="value">
                    <input type="text" name="adminName" id="admin_name" class="form-control" required="required"
                      placeholder="请填写真实姓名,以免影响后续操作">
                  </span>
                </div>
                <div class="from-item">
                  <span class="lable">管理员身份证号码</span>
                  <span class="value">
                    <input type="text" name="admin_id_number" id="id_number" class="form-control" required="required"
                      placeholder="请填写真实身份证号码,以免影响后续操作">
                  </span>
                </div>

                <div class="from-item">
                  <span class="lable">管理员电子邮箱</span>
                  <span class="value">
                    <input type="text" name="admin_email" class="form-control" required="required"
                      placeholder="请填写电子邮箱">
                  </span>
                </div>
                <div class="from-item">
                  <span class="lable">管理员授权书</span>
                  <span style="display: block;" class="value">
                    <p style="margin-top: 6px;"><span id="download" style="color: #67C23A;font-size: 14px;"
                        class="download">下载授权书模板</span></p>
                    <div class="upload">
                      <div class="upload-left width">
                        <input class="upload-file2" type="file" id="authorize" accept="image/*,.pdf">
                        <div style="font-size:14px;width:108px;" id="upload-btn" class="upload-pdf">上传授权书</div>
                        <img class="upload-sucess-icon" src="../image/gou2.png" alt="">
                        <p class="upload-pdf-text" data-url="" id="authorize_img"></p>
                      </div>
                      <div style="position: relative;top: -25px;" class="upload-right">
                        <p>请完成所有内容的填写并加盖公章后上传,文件大小不超过10M,仅支持上传jpg/png/pdf格式</p>
                      </div>
                    </div>
                  </span>
                </div>
                <div class="from-item">
                  <span class="lable">管理员手机号码</span>
                  <span class="value">
                    <input type="text" name="admin_phone_number" class="form-control" required="required"
                      placeholder="请填写手机号码">
                    <span id="getAdminCode" class="getCode">获取验证码</span>
                  </span>
                </div>
                <div class="from-item">
                  <span class="lable">短信验证码</span>
                  <span class="value">
                    <input type="text" name="admin_sms_code" class="form-control" required="required"
                      placeholder="请填写短信验证码">
                  </span>
                </div>
                <p class="declare"><input id="isok" type="checkbox" /><img class="gou"
                    src="../image/gou.png" />我已阅读并同意<span id="registerAgreement">《平台用户注册协议》</p>
                <p id="submit" class="submit">注册</p>
                <p id="goLogin" style="color:#ec193a;" class="tips">已有账号?返回登录</p>
              </form>
              <!-- 找回密码表单 pc-->
              <form class="forgetForm">
                <input type="text" name="account_number1" class="form-control" required="required" title=""
                  placeholder="请输入登录名">
                <input type="text" name="phoneNumber1" class="form-control" required="required" title=""
                  placeholder="请输入手机号码">
                <div style="display: flex;justify-content: space-between;">
                  <input style="width: 150px;" type="text" name="sms_code1" class="form-control" required="required"
                    title="" placeholder="请输入验证码">
                  <button style="width: 150px;" type="button" class="btn btn-primary testing">发送验证码</button>
                </div>
                <div class="passwordBox">
                  <input type="password" name="password_011" class="form-control" required="required" title=""
                    placeholder="请输入新密码">
                  <img class="eyes password_011" onclick="switchPwd('password_011')" src="../image/miwen.png" alt="">
                </div>
                <div class="passwordBox">
                  <input type="password" name="password_021" class="form-control" required="required" title=""
                    placeholder="再次输入密码">
                  <img class="eyes password_021" onclick="switchPwd('password_021')" src="../image/miwen.png" alt="">
                </div>
                <button type="button" class="btn btn-primary reset">确定</button>
                <div class="loginfoot">
                  <div class="recurrence">返回登录</div>
                </div>
              </form>

            </div>
            <div style="width: 100%;">
              <img style="width: 200px;margin: auto;margin-left: 60px;" src="/assets/imgs/xcx.jpg" alt="">
              <span class="scxText">微信扫码登录</span>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <div id="phone">
    <!-- 第一屏 -->
    <div class="pcfirst">
      <div class="loginfrom">
        <ul class="changelogin">
          <li class="action">用户登录</li>
          <li>律师登录</li>
        </ul>
        <div class="box">
          <div class="show">
            <!-- 登录表单 -->
            <form class="loginForm">
              <input type="text" class="form-control" id="shouji" placeholder="手机号码">
              <div style="display: flex;justify-content: space-between;" class="passwordBox">
                <input style="width:50%;" type="text" class="form-control" id="yanzm" placeholder="验证码">
                <button style="width: 40%;padding: 6px 4px;" type="button" id="hqyzm"
                  class="btn btn-primary testing">获取验证码</button>
              </div>
              <button type="button" id="login2" class="btn btn-primary">登 录</button>
              <div class="loginfoot">
                <div id="zhuce" style="color: #ec193a;">没有账号?点击注册</div>
              </div>
            </form>
            <!-- 注册表单 -->
            <form class="loginForm zhuce">
              <input type="text" class="form-control" id="user_name" placeholder="用户名称">
              <input type="text" class="form-control" id="shouji2" placeholder="手机号码">
              <div style="display: flex;justify-content: space-between;" class="passwordBox">
                <input style="width:50%;" type="text" class="form-control" id="yanzm2" placeholder="验证码">
                <button style="width: 40%;padding: 6px 4px;" type="button" id="hqyzm2"
                  class="btn btn-primary testing">获取验证码</button>
              </div>
              <p style="position: relative;top: -10px;" class="declare"><input style="height: 15px;margin-bottom: 0;"
                  id="isok2" type="checkbox" /><img class="gou" src="../image/gou.png" />我已阅读并同意<span
                  id="registerAgreement2">《平台用户注册协议》</span></p>
              <button type="button" id="zhuce2" class="btn btn-primary">注 册</button>
              <div class="loginfoot">
                <div id="denglu">返回登录</div>
              </div>
            </form>
          </div>
          <div style="width: 100%;">
            <img style="width: 200px;margin: auto;display: block" src="/assets/imgs/xcx.jpg" alt="">
            <span class="scxText">微信扫码登录</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- 弹窗提示 -->
  <div class="toast">
    <div class="toast-box">
      <div>
        <img class="toast-icon" src="">
        <div class="toast-text"></div>
      </div>
    </div>
  </div>
  <!-- 协议 -->
  <div class="tostBg">
    <div class="tostBox">
      <img src="/image/closed.png" onclick="guanbi()" class="guanbi" />
      <p class="box-title">注册协议</p>
      <div id="v-html" class="text">
      </div>
      <div class="footer">
        <div onclick="guanbi()" class="tost-btn">阅读完毕</div>
      </div>
    </div>
  </div>
  <div class="customer">
    <div class="left">
      <div id="phone-text">咨询电话：4006 321 918</div>
      <div id="weChat-img"><img src="https://file.debteehelper.com/webimg/zzb.jpg" alt=""></div>
    </div>
    <div class="right">
      <div onclick="qimoChatClick()">
        <img src="../../image/customer.41128af4.png" alt="">
        <span>在线咨询</span>
      </div>
      <div id="phone-right">
        <img src="../../image/phone.92474518.svg" alt="">
        <span>电话咨询</span>
      </div>
      <div id="weChat">
        <img src="../../image/WeChat.svg" alt="">
        <span>微信公众号</span>
      </div>
    </div>
  </div>
</body>
<!-- <script src="https://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script> -->
<script src="../js/jquery.min.js"></script>
<script src="/assets/js/lang.js"></script>
<script src="/assets/js/js.js"></script>
<!-- <script src="../assets/js/flexible.js"></script> -->
<script src="/assets/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<script src="/assets/js/publick.js"></script>
<script src="/assets/swiper-5.2.1/js/swiper.min.js"></script>
<script src="/js/jquery.fullPage.min.js"></script>
<script src="/js/index_slick.js"></script>
<script src="/js/index.js?v=20211118"></script>
<script src="/js/msgbox.js"></script>
<script src="/assets/js/text.js"></script>
<script type='text/javascript'
  src='https://webchat.7moor.com/javascripts/7moorInit.js?accessId=9284ed30-cb74-11e8-b094-ffcbf0de5a60&autoShow=false&language=ZHCN'
  async='async'>
  </script>
<script>

  $(window).resize(function () {
    console.log(111);
    var win = $(this).width();
    if (win < 1920 && win > 960) { //宽度小于1493时，按1493和窗口实际宽度计算等比
      $("body").css("zoom", win / 1920);
    } else {
      $("body").css("zoom", "normal");
    }
  }).trigger('resize');

  //明密文切换
  function switchPwd(name) {
    let path = $('.' + name).attr('src')
    console.log(path, name);
    if (path == "../image/mingwen.png") { //明文转密文
      $('.' + name).attr('src', '../image/miwen.png')
      $("input[name='" + name + "']").prop('type', 'password')
    } else { //密文转明文
      $('.' + name).attr('src', '../image/mingwen.png')
      $("input[name='" + name + "']").prop('type', 'text')
    }
  }
  function guanbi() {
    $('body').css('overflow', 'auto')
    $('.tostBg').hide()
  }
  $(function () {
    var count = 60, timer = null; timer2 = null; timer3 = null;
    function clickautohide(i, tp) {
      var tip = "";
      switch (i) {
        case 1:
          tip = tp; //警告
          break;
        case 4:
          tip = tp; //成功
          break;
        case 5:
          tip = tp; //失败
          break;
        case 6:
          tip = tp; //加载中
          break;
      }
      ZENG.msgbox.show(tip, i, 3000);
    }
    $(".loginfromBox ul li").click(function () {
      $(this).addClass("action").siblings().removeClass("action");
      $(".box > div").eq($(this).index()).addClass("show").siblings().removeClass("show")
    })
    $("#phone .loginfrom ul li").click(function () {
      $(this).addClass("action").siblings().removeClass("action");

      $("#phone .box > div").eq($(this).index()).addClass("show").siblings().removeClass("show")
    })
    //登录
    $("#login1").click(function () {
      $('#uploading').show()
      let userName = $("input[name='userName']").val()
      if (userName == "") {
        openToast("请输入登录名", "warn")
        // clickautohide(1, "请输入登录名")
        return false
      }
      let passWord = $("input[name='passWord']").val()
      if (passWord == "") {
        // clickautohide(1, "请输入密码")
        openToast("请输入密码", "warn")
        return false
      }
      $.ajax({
        url: "https://api2.debteehelper.com/api/login/Admin_Login",
        type: "POST",
        data: JSON.stringify({
          admin_account: trim(userName),
          passWord: trim(passWord)
        }),
        headers: { 'Content-Type': 'application/json;charset=utf8' },
        success: function (val) {
          $('#uploading').hide()
          if (val.state) {
            openToast(val.msg, "success")
            setCookie('token', val.data.tokey)
            setCookie('headImg', val.data.userInfo.head_img)
            setCookie('userName', val.data.userInfo.name)
            setCookie('is_super', val.data.userInfo.is_super)
            setTimeout(() => {
              window.location.href = "https://saas.debteehelper.com"
            }, 1000);
          } else {
            // clickautohide(5, val.msg)
            openToast(val.msg, "err")
          }
        },
        error: function (err) {
          $('#uploading').hide()
          openToast('登录失败,请刷新后重试或联系客服', "err")
        }
      })
    })
    function setCookie(name, value) {
      if (!name || !value) return;
      var Days = 30;//默认30天
      var exp = new Date();
      exp.setTime(exp.getTime() + Days * 24 * 60 * 60 * 1000);
      document.cookie = name + "=" + encodeURIComponent(value) + ";expires=" + exp.toUTCString() + ";domain=.debteehelper.com; path=/";
    }
    //移动端登录
    $("#login2").click(function () {
      let phone_number = $("#shouji").val()
      if (phone_number == "") {
        openToast("请输入手机号码", "warn")
        return false
      }
      let sms_code = $("#yanzm").val()
      if (sms_code == "") {
        openToast("请输入验证码", "warn")
        return false
      }
      $.ajax({
        url: "https://wechat.debteehelper.com/api/Login/SMSLogin",
        type: "POST",
        data: JSON.stringify({
          phone_number: trim(phone_number),
          sms_code: trim(sms_code)
        }),
        headers: { 'Content-Type': 'application/json;charset=utf8' },
        success: function (val) {
          if (val.state) {
            openToast(val.msg, "success")
            setCookie('usertokey', val.data)
            setTimeout(() => {
              window.location.href = "https://h5.debteehelper.com"
            }, 1000);
          } else {
            // clickautohide(5, val.msg)
            openToast(val.msg, "err")
          }
        }
      })
    })
    //移动端注册
    $('#zhuce2').click(function () {
      let isok = $('#isok2').is(':checked')
      if (!isok) {
        openToast('请先阅读并同意《平台用户注册协议》', 'warn')
        return false
      }
      let parmas = {
        name: $('#user_name').val(),
        phone_number: $('#shouji2').val(),
        sms_code: $('#yanzm2').val()
      }
      $.ajax({
        url: "https://wechat.debteehelper.com/api/Register/PhoneNumberRegister",
        type: "POST",
        data: JSON.parse(JSON.stringify(parmas)),
        success: function (val) {
          if (val.state) {
            openToast(val.msg, "success")
            setCookie('usertokey', val.data)
            setTimeout(() => {
              window.location.href = "https://h5.debteehelper.com"
            }, 1000);
          } else {
            openToast(val.msg, "err")
          }
        }
      })
    })
    if (getQueryVariable("edit") == 1) {
      $('.loginForm').hide()
      $('.forgetForm').show()
    }
    // if (getQueryVariable("edit") == 2) {
    //   $('.changelogin li:nth-child(1)').text('用户注册')
    //   $('.changelogin li:nth-child(2)').hide()
    //   $('.register').show()
    //   $('.loginForm').hide()
    //   $('.loginForm2').hide()
    //   $('.loginfromBox').addClass('registerFrom')
    // }
    //忘记密码
    $('.forget').click(function () {
      $('.loginForm').hide()
      $('.forgetForm').show()
    })
    //返回登录
    $('.recurrence').click(function () {
      $('.loginForm').show()
      $('.forgetForm').hide()
    })
    $('#zhuce').click(function () {
      $('.loginForm').hide()
      $('.zhuce').show()
      $('.changelogin li:nth-child(1)').text('用户注册')
    })
    $('#denglu').click(function () {
      $('.changelogin li:nth-child(1)').text('用户登录')
      $('.loginForm').show()
      $('.zhuce').hide()
    })
    $('.testing').click(function () {
      let w = document.body.scrollWidth
      if (w > 480) {
        let account_number = $("input[name='account_number1']").val()
        let phoneNumber = $("input[name='phoneNumber1']").val()
        let parmas = {
          account_number: account_number,
          phone_number: phoneNumber
        }
        if (parmas.account_number == "") {
          openToast("账号不能为空", "warn")
        } else if (parmas.phoneNumber == "") {
          openToast("手机号码不能为空", "warn")
        } else {
          getCode(parmas)
        }
      }
    })
    //获取验证码
    function getCode(parmas) {
      if (timer == null) {
        $.ajax({
          url: "https://api2.debteehelper.com/api/Login/SendSMSCode",
          type: "GET",
          data: parmas,
          headers: { 'Content-Type': 'application/json;charset=utf8' },
          success: function (val) {
            if (val.state) {
              openToast(val.msg, "success")
            } else {
              openToast(val.msg, "err")
            }
          }
        })
        timer = setInterval(function () {
          count--;
          $(".testing").text(count + "秒");
          $('.testing').attr("disabled", "disabled")
          if (count <= 0) {
            clearInterval(timer)
            $(".testing").text("获取验证码")
            $('.testing').removeAttr("disabled")
            count = 60
            timer = null
          }
        }, 1000);
      } else {
        openToast("您的操作太频繁了,请稍后再试", "warn")
      }
    }
    //h5获取验证码
    function getCode2(parmas, num) {
      if (timer == null) {
        $.ajax({
          url: num === 1 ? "https://wechat.debteehelper.com/api/Login/SendSMSCode" : "https://wechat.debteehelper.com/api/Login/SendSMSCodeV2",
          type: "GET",
          data: parmas,
          headers: { 'Content-Type': 'application/json;charset=utf8' },
          success: function (val) {
            if (val.state) {
              openToast(val.msg, "success")
            } else {
              openToast(val.msg, "err")
            }
          }
        })
        timer = setInterval(function () {
          count--;
          $(".testing").text(count + "秒");
          $('.testing').attr("disabled", "disabled")
          if (count <= 0) {
            clearInterval(timer)
            $(".testing").text("获取验证码")
            $('.testing').removeAttr("disabled")
            count = 60
            timer = null
          }
        }, 1000);
      } else {
        openToast("您的操作太频繁了,请稍后再试", "warn")
      }
    }
    $('#hqyzm').click(function () {
      let phone_number = $('#shouji').val()
      if (phone_number == '') {
        openToast("手机号码不能为空", "warn")
        return false
      } else {
        let parmas = {
          phone_number,
        }
        getCode2(parmas, 1)
      }
    })
    $('#hqyzm2').click(function () {
      let phone_number = $('#shouji2').val()
      if (phone_number == '') {
        openToast("手机号码不能为空", "warn")
        return false
      } else {
        let parmas = {
          phone_number,
        }
        getCode2(parmas, 2)
      }

    })
    $('.reset').click(function () {
      restPassword()
    })
    //重置密码
    function restPassword() {
      let w = document.body.scrollWidth
      let account_number = w < 480 ? $("input[name='account_number2']").val() : $("input[name='account_number1']").val()
      let phoneNumber = w < 480 ? $("input[name='phoneNumber2']").val() : $("input[name='phoneNumber1']").val()
      let sms_code = w < 480 ? $("input[name='sms_code2']").val() : $("input[name='sms_code1']").val()
      let password_01 = w < 480 ? $("input[name='password_012']").val() : $("input[name='password_011']").val()
      let password_02 = w < 480 ? $("input[name='password_022']").val() : $("input[name='password_021']").val()
      let parmas = {
        account_number: account_number,
        phone_number: phoneNumber,
        sms_code: sms_code,
        password_01: password_01,
        password_02: password_02
      }
      if (parmas.account_number == "") {
        openToast("账号不能为空", "warn")
        return false
      }
      if (parmas.phoneNumber == "") {
        openToast("手机号码不能为空", "warn")
        return false
      }
      if (parmas.sms_code == "") {
        openToast("请输入验证码", "warn")
        return false
      }
      if (parmas.password_01 == "") {
        openToast("请输入新密码", "warn")
        return false
      }
      if (parmas.password_02 == "") {
        openToast("清再次输入新密码", "warn")
        return false
      }
      $.ajax({
        url: "https://api2.debteehelper.com/api/Login/ResetPassword",
        type: "POST",
        data: JSON.stringify(parmas),
        headers: { 'Content-Type': 'application/json;charset=utf8' },
        success: function (val) {
          if (val.state) {
            openToast(val.msg, "success")
            $('.loginForm').show()
            $('.forgetForm').hide()
          } else {
            openToast(val.msg, "err")
          }
        }
      })
    }
    //跳转申请
    $('.apply').click(function () {
      // window.location.href = "/views/demo.html"
      $('.changelogin li:nth-child(1)').text('用户注册')
      $('.changelogin li:nth-child(2)').hide()
      $('.register').show()
      $('.loginForm').hide()
      $('.loginForm2').hide()
      $('.loginfromBox').addClass('registerFrom')
    })
    //返回登录
    $('#goLogin').click(function () {
      $('.changelogin li:nth-child(1)').text('用户登录')
      $('.changelogin li:nth-child(2)').show()
      $('.register').hide()
      $('.loginForm').show()
      $('.loginfromBox').removeClass('registerFrom')
    })
    //去左右空格;
    function trim(s) {
      return s.replace(/(^\s*)|(\s*$)/g, "");
    }
    $('.changePhone').click(function () {
      $('.loginForm').hide()
      $('.loginForm2').show()
    })
    $('.changeAccount').click(function () {
      $('.loginForm2').hide()
      $('.loginForm').show()
    })
    //获取管理员手机号码验证码
    $('#getAdminCode').click(function () {
      let phone_number = $('input[name=admin_phone_number]').val()
      if (timer2 == null) {
        $.ajax({
          // url: "https://api2.debteehelper.com/api/Register/SendSMSCode",
          url: 'https://api2.debteehelper.com/api/Login/SendSMSCodeV2',
          type: "GET",
          data: { phone_number },
          headers: { 'Content-Type': 'application/json;charset=utf8' },
          success: function (val) {
            if (val.state) {
              openToast(val.msg, "success")
              timer2 = setInterval(function () {
                count--;
                $("#getAdminCode").text(count + "秒");
                $('#getAdminCode').attr("disabled", "disabled")
                $('#getAdminCode').addClass('disabled')
                if (count <= 0) {
                  clearInterval(timer2)
                  $("#getAdminCode").text("发送验证码")
                  $('#getAdminCode').removeAttr("disabled")
                  $('#getAdminCode').removeClass("disabled")
                  count = 60
                  timer2 = null
                }
              }, 1000);
            } else {
              openToast(val.msg, "err")
            }
          }
        })

      } else {
        openToast("您的操作太频繁了,请稍后再试", "warn")
      }
    })
    //手机号登录获取验证码
    $('#getAdminCode2').click(function () {
      let phone_number = $('#phone_number2').val()
      if (timer3 == null) {
        $.ajax({
          url: "https://api2.debteehelper.com/api/Login/SendSMSCode",
          // url: 'https://api2.debteehelper.com/api/Login/SendSMSCodeV2',
          type: "GET",
          data: { phone_number },
          headers: { 'Content-Type': 'application/json;charset=utf8' },
          success: function (val) {
            if (val.state) {
              openToast(val.msg, "success")
              timer3 = setInterval(function () {
                count--;
                $("#getAdminCode2").text(count + "秒");
                $('#getAdminCode2').attr("disabled", "disabled")
                $('#getAdminCode2').addClass('disabled')
                if (count <= 0) {
                  clearInterval(timer3)
                  $("#getAdminCode2").text("发送验证码")
                  $('#getAdminCode2').removeAttr("disabled")
                  $('#getAdminCode2').removeClass("disabled")
                  count = 60
                  timer3 = null
                }
              }, 1000);
            } else {
              openToast(val.msg, "err")
            }
          }
        })

      } else {
        openToast("您的操作太频繁了,请稍后再试", "warn")
      }
    })
    //上传营业执照
    $('#Business').click(function () {
      const mayFile = $('#Business')
      mayFile[0].addEventListener('change', function (e) {
        var filesList = document.querySelector('#Business').files;
        if (filesList.length == 0) { //如果取消上传，则上传文件的长度为0
          console.log("没有上传任何文件");
          return;
        } else {
          $('#uploading').show()
          let fromData = new FormData()
          let fileObj = filesList[0]
          fromData.append('file', fileObj)
          console.log(fromData);
          $.ajax({
            async: false,
            url: "https://api2.debteehelper.com/api/Upload/UploadImage?type=0",
            type: "POST",
            data: fromData,
            processData: false,
            contentType: false,
            success: function (res) {
              if (res.data != null) {
                let imgUrl = 'https://file.debteehelper.com' + res.data.FileUrl + res.data.FileExtension
                $('#Business_img').attr('src', imgUrl)
                distinguish(imgUrl)
              }
            }
          })
        }
      })
    })
    //识别证照
    function distinguish(url) {
      let parmas = {
        img_path: url,
        img_type: 2
      }
      $.ajax({
        url: "https://api2.debteehelper.com/api/Tools/Recognition",
        type: "POST",
        data: JSON.stringify(parmas),
        headers: { 'Content-Type': 'application/json;charset=utf8' },
        success: function (res) {
          if (res.state) {
            $('#creditor_name').val(res.data.name)
            $('#license_no').val(res.data.reg_num)
          } else {
            openToast(res.msg, 'warn')
          }
          $('#uploading').hide()
        }
      })
    }
    //上传pdf
    $("#authorize").click(function () {
      const mayFile = $("#authorize")
      mayFile[0].addEventListener('change', function (e) {
        var filesList = document.querySelector('#authorize').files;
        if (filesList.length == 0) { //如果取消上传，则上传文件的长度为0
          console.log("没有上传任何文件");
          return;
        } else {
          $('#uploading').show()
          let fromData = new FormData()
          let fileObj = filesList[0]
          fromData.append('file', fileObj)
          $.ajax({
            async: false,
            url: "https://api2.debteehelper.com/api/Upload/UploadImage?type=7",
            type: "POST",
            data: fromData,
            processData: false,
            contentType: false,
            success: function (res) {
              if (res.data != null) {
                let imgUrl = 'https://file.debteehelper.com' + res.data.FileUrl + res.data.FileExtension
                $('#authorize_img').attr('data-url', imgUrl)
                $('#authorize_img').text('上传成功')
                $('#upload-btn').text('重新上传')
                $('#authorize_img').show()
                $('.upload-sucess-icon').show()
                openToast(res.msg, "success")
              }
              $('#uploading').hide()
            }
          })
        }
      })
    })
    $('#authorize_img').click(function () {
      let url = $(this).attr('data-url')
      window.open(url)
    })
    $('.declare').click(function () {
      let isok = $('#isok').is(':checked')
      let isok2 = $('#isok2').is(':checked')
      if (!isok) {
        $('#isok').prop('checked', 'checked')
      } else {
        $('#isok').prop('checked', false)
      }
      if (!isok2) {
        $('#isok2').prop('checked', 'checked')
      } else {
        $('#isok2').prop('checked', false)
      }
    })
    //提交注册
    $('#submit').click(function () {
      let isok = $('#isok').is(':checked')
      let isok2 = true
      if (!isok) {
        openToast('请先阅读并同意《平台用户注册协议》', 'warn')
        return false
      }
      let parmas = {
        license_img_url: $('#Business_img').attr('src'),
        creditor_name: $('#creditor_name').val(),
        license_no: $('#license_no').val(),
        admin_name: $('#admin_name').val(),
        id_number: $('#id_number').val(),
        admin_phone_number: $('input[name=admin_phone_number]').val(),
        sms_code: $('input[name=admin_sms_code]').val(),
        admin_email: $('input[name=admin_email]').val(),
        authorization_file: $('#authorize_img').attr('data-url')
      }
      Object.keys(parmas).forEach(key => {
        if (parmas[key] == '') {
          openToast('请先完善信息', 'warn')
          isok2 = false
          return false
        }
      })
      if (isok2) {
        $.ajax({
          url: "https://api2.debteehelper.com/api/Register/PCRegister",
          type: "POST",
          data: JSON.stringify(parmas),
          headers: { 'Content-Type': 'application/json;charset=utf8' },
          success: function (res) {
            if (res.state) {
              openToast(res.msg, 'success', 4000)
              setTimeout(() => {
                $('.changelogin li:nth-child(1)').text('用户登录')
                $('.changelogin li:nth-child(2)').show()
                $('.register').hide()
                $('.loginForm').show()
                $('.loginfromBox').removeClass('registerFrom')
              }, 500);
            } else {
              openToast(res.msg, 'warn', 4000)
            }
          }
        })
      }
    })
    $('input[type=checkbox]').click(function () {
      $(this).prop('checkbox', 'checkbox')
    })
    //查看注册协议
    $('#registerAgreement').click(function () {
      $.ajax({
        url: 'https://api1.debteehelper.com/api/OpenDocument/GetByid',
        type: "GET",
        data: { id: 1011 },
        headers: { 'Content-Type': 'application/json;charset=utf8' },
        success: function (res) {
          $('.box-title').text(res.data.record_name)
          $('#v-html').html(res.data.record_info)
          $('body').css('overflow', 'hidden')
          $('.tostBg').show()
        }
      })
      // $('.box-title').text('平台用户注册协议')
      // $('#v-html').html(registerAgreement)
      // $('body').css('overflow', 'hidden')
      // $('.tostBg').show()
      return false
    })
    $('#registerAgreement2').click(function () {
      $.ajax({
        url: 'https://api1.debteehelper.com/api/OpenDocument/GetByid',
        type: "GET",
        data: { id: 1011 },
        headers: { 'Content-Type': 'application/json;charset=utf8' },
        success: function (res) {
          $('.box-title').text(res.data.record_name)
          $('#v-html').html(res.data.record_info)
          $('body').css('overflow', 'hidden')
          $('.tostBg').show()
        }
      })
      // $('.box-title').text('平台用户注册协议')
      // $('#v-html').html(registerAgreement)
      // $('body').css('overflow', 'hidden')
      // $('.tostBg').show()
      return false
    })
    $('#Privacy').click(function () {
      $('.box-title').text('隐私声明协议')
      $('#v-html').html(Privacy)
      $('.tostBg').show()
      return false
    })
    //手机短信验证码登录
    $('#loginPhone').click(function () {
      $('#uploading').show()
      let code = $('#phoneLoginCode').val()
      let phone_number = $('#phone_number2').val()
      let parmas = {
        phone_number,
        sms_code: code
      }
      $.ajax({
        url: "https://api2.debteehelper.com/api/Login/Admin_Login_SMS",
        data: JSON.stringify(parmas),
        type: "POST",
        headers: { 'Content-Type': 'application/json;charset=utf8' },
        success: function (res) {
          $('#uploading').hide()
          if (res.state) {
            openToast(res.msg, "success")
            setCookie('token', res.data.tokey)
            setCookie('headImg', res.data.userInfo.head_img)
            setCookie('userName', res.data.userInfo.name)
            setCookie('is_super', res.data.userInfo.is_super)
            setTimeout(() => {
              window.location.href = "https://saas.debteehelper.com"
            }, 1000);
          } else {
            openToast(res.msg, 'warn')
          }
        },
        error: function (err) {
          $('#uploading').hide()
          openToast('登录失败,请刷新后重试或联系客服', 'warn')
        }
      })
    })
    //下载授权委托书
    $('#download').click(function () {
      window.open('https://file.debteehelper.com/template/授权委托书_新增管理员.docx')
    })
  })
  //获取路由参数
  function getQueryVariable(variable) {
    var query = window.location.search.substring(1);
    var vars = query.split("&");
    for (var i = 0; i < vars.length; i++) {
      var pair = vars[i].split("=");
      if (pair[0] == variable) { return pair[1]; }
    }
    return (false);
  }

</script>

</html>