@import "@/assets/scss/variables.scss";

.creditorAdmin-wrap {
  height: 100%;
  background-color: $main-body-bgColor;
  width: 100%;
  position: relative;
  & .cell {
    & > .el-button:nth-child(2) {
      display: none;
    }
  }
  & .input-box{
    .el-button{
      display: none;
    }
  }
}
