@import "@/assets/scss/variables.scss";

.billManagement-wrap {
  width: 100%;
  height: 100%;
  background-color: $main-body-bgColor;
  & .search-box {
    margin-bottom: 20px;
  }
  & .operation-wrap {
    & .input-box {
      button {
        display: none;
      }
    }
  }
  & .cell {
    & button:nth-child(2),
    & button:nth-child(3) {
      display: none;
    }
  }
  & .el-table {
    & .el-table__body {
      & .el-table__row {
        & td:nth-child(5),
        & td:nth-child(6) {
          text-align: right;
        }
      }
    }
  }
}
