@import "@/assets/scss/variables";

.bilInfo-wrap {
  width: 100%;
  min-height: 100%;
  background-color: $main-body-bgColor;
  position: relative;
  & .el-table thead.is-group th.el-table__cell {
    background: white;
  }
  & .el-table__header-wrapper tbody td.el-table__cell,
  .el-table__footer-wrapper tbody td.el-table__cell {
    background: white;
  }
  .bilInfo-box {
    display: flex;
    // padding-bottom: 50px;
    .left {
      width: 9%;
      display: flex;
      & > .text {
        div {
          color: #909399;
          font-size: 12px;
          // min-height: 40px;
          // line-height: 40px;
          padding: 10px 25px 10px 0;
          text-align: center;
          cursor: pointer;
        }
        .act {
          color: #ec193a;
        }
      }
      & > .shuxian-box {
        height: 100%;
        width: 2px;
        background-color: #e4e7ed;
        position: relative;
        & > .shuxian {
          width: 100%;
          height: 40px;
          background-color: #ec193a;
          transition: transform 0.5s ease;
          transform: translateY(0);
        }
      }
    }
    .right {
      width: 90%;
      overflow-y: auto;
      padding-right: 20px;
      .act {
        color: #ec193a !important;
      }
      .section {
        & > span:first-child {
          font-size: 14px;
          margin-top: 10px;
          display: flex;
          justify-content: space-between;
          line-height: 32px;
          color: #606266;
          font-weight: 700;
        }
        & .el-textarea {
          width: 600px;
        }
        .box {
          display: flex;
          margin-bottom: 20px;
          .text {
            width: 33.33%;
            p {
              color: $General-colors;
              font-size: 14px;
              margin: 0;
              margin-bottom: 10px;
              line-height: 32px;
              & > span:first-child {
                margin-right: 20px;
                font-size: 12px;
                color: #909399;
              }
              & > span:last-child {
                color: #606366;
              }
            }
          }
        }
      }
    }
  }
  & .el-descriptions {
    & .is-bordered-label {
      width: 220px;
    }
  }
  & .el-divider--horizontal {
    margin: 5px 0 20px 0;
  }
  & .info {
    color: #67c23a;
  }
  & .edit {
    color: #e6a23c;
  }
  & .el-tabs--left .el-tabs__header.is-left {
    margin-right: 20px;
  }
  & .el-checkbox-group {
    margin-bottom: 20px;
  }
  & .el-textarea textarea {
    height: 100px;
  }
  & .addNewUser,
  & .selectUser {
    width: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  & .table-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  // & .editData {
  //   width: 880px;
  // }
  & .footer-box {
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    height: 30px;
    background: white;
    z-index: 2;
    padding-top: 20px;
    // box-shadow: 0px 4px 4px #ccc;
  }
  & .el-table th.el-table__cell > .cell {
    font-weight: normal;
  }
  & .table1 {
    & .el-table__body {
      & .el-table__row {
        & td:nth-child(7),
        & td:nth-child(8) {
          text-align: right;
        }
      }
    }
    & .el-table__footer-wrapper {
      & .has-gutter {
        & .cell {
          text-align: right;
        }
      }
    }
  }
  & .table2 {
    & .el-table__body {
      & .el-table__row {
        & td:nth-child(9),
        & td:nth-child(10),
        & td:nth-child(11),
        & td:nth-child(12) {
          text-align: right;
        }
      }
    }
    & .el-table__footer-wrapper {
      & .has-gutter {
        & .cell {
          text-align: right;
        }
      }
    }
  }
}
