@import '@/assets/scss/variables.scss';

.adminList-wrap {
  height: 100%;
  background-color: $main-body-bgColor;
  width: 100%;
  position: relative;
  & .adminList-box {
    & .search-box {
      & > .el-input {
        display: inline-block;
        width: 180px;
        margin-right: 20px;
      }
    }
  }
  & .creditorDialog {
    border-radius: 10px;
    width: 680px !important;
  }
}
