@import '@/assets/scss/variables.scss';

.listbill {
  height: 100%;
  background-color: $main-body-bgColor;
  width: 100%;
  position: relative;
  #operation > div > button {
    display: none;
  }
  & .button {
    .el-button {
      position: absolute;
      right: 50px;
      top: -50px;
    }
  }
  & .has-gutter {
    & .cell {
      padding-left: 10px !important;
    }
  }
  & .el-table__row {
    & td {
      & .cell {
        padding-left: 10px;
      }
    }
    & td:nth-child(6),
    & td:nth-child(7) {
      & .cell {
        text-align: right;
        // padding-right: 10px;
      }
    }
  }
}
