@import '@/assets/scss/variables.scss';

.obligorAdmin-wrap {
  height: 100%;
  background-color: $main-body-bgColor;
  width: 100%;
  position: relative;
  & .cell {
    & > .el-button:nth-child(1),
    & > .el-button:nth-child(3) {
      display: none;
    }
  }
  & .input-box button {
    display: none;
  }
  & .el-table__row {
    & > td:nth-child(8),
    & > td:nth-child(9) {
      text-align: right;
    }
  }
  & .has-gutter {
    & th:nth-child(8) {
      text-align: right;
      padding-right: 10px;
    }
  }
}
