.btn-ghost:hover,.t-btn:hover {
  opacity: .8
}

.markdown .anchor:focus,.markdown a:active,.markdown a:hover {
  outline: 0
}

body,html {
  color: #666;
  min-height: 100%!important
}

body {
  min-width: 1250px
}

.txt-right {
  text-align: right
}

.fr {
  float: right
}

.fl {
  float: left
}

.dis-none {
  display: none!important
}

.dis-block {
  display: block!important
}

.clearfix {
  zoom:1}

.clearfix:after {
  clear: both;
  content: '.';
  display: block;
  width: 0;
  height: 0;
  visibility: hidden
}

.mg-left-5 {
  margin-left: 5px
}

.mg-left-10 {
  margin-left: 10px
}

.mg-left-50 {
  margin-left: 50px
}

.mg-left-130 {
  margin-left: 130px
}

.mg-left-150 {
  margin-left: 150px
}

.mg-left-210 {
  margin-left: 210px
}

.mg-left-225 {
  margin-left: 225px
}

.mg-top-40 {
  margin-top: 40px
}

.mg-top-80 {
  margin-top: 80px
}

.pd-top-35 {
  padding-top: 35px
}

.pd-top-150 {
  padding-top: 150px
}

.co-333 {
  color: #333!important
}

.co-888 {
  color: #888!important
}

.co-999 {
  color: #999!important
}

.ft-16 {
  font-size: 16px!important
}

.show {
  display: block
}

.hide {
  display: none
}

.btn-ghost,.t-btn {
  display: inline-block;
  text-align: center;
  border-radius: 4px;
  font-size: 14px;
  color: #fff;
  cursor: pointer
}

.t-btn {
  width: 92px;
  height: 36px;
  line-height: 36px;
  background: #303443
}

.btn-ghost {
  width: 90px;
  height: 34px;
  line-height: 34px;
  background: #FABA4A
}

.common-top-img {
  width: 235px;
  height: 55px;
  margin-top: 150px
}

.common-top-txt {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  padding-top: 30px
}

.common-top-title {
  font-size: 40px;
  line-height: 1;
  color: #fff;
  text-align: center;
  padding-top: 160px
}

.common-top-english,.solution-main__title {
  font-size: 30px;
  line-height: 1;
  text-align: center
}

.common-top-english {
  color: #fff;
  padding-top: 30px;
  font-weight: 400
}

.solution-main {
  position: relative;
  padding-bottom: 110px;
  overflow: hidden;
  display: none
}

.solution-main .diamond,.solution-main .diamond2 {
  width: 630px;
  height: 900px;
  position: absolute
}

.solution-main .diamond2 {
  transform: scale(-1,1);
  -ms-transform: scale(-1,1);
  -moz-transform: scale(-1,1);
  -webkit-transform: scale(-1,1);
  -o-transform: scale(-1,1)
}

.solution-main__title {
  color: #333;
  padding-top: 80px;
  position: relative
}

.solution-main__more {
  font-size: 16px;
  color: #999;
  line-height: 1;
  padding-top: 20px;
  text-align: center;
  position: relative
}

.solution-main__bar {
  width: 40px;
  height: 2px;
  background: #F8C272;
  margin: 30px auto;
  position: relative
}

.solution-main .pic-txt-part {
  margin-top: 70px;
  padding: 0 100px;
  position: relative
}

.solution-main .pic-txt-part .part-txt .txt-num {
  margin-top: 50px
}

.solution-main .pic-txt-part .part-txt .txt-num .num {
  font-size: 135px;
  color: #F2F2F2;
  font-style: italic;
  line-height: 1
}

.solution-main .pic-txt-part .part-txt .txt-num .rectangle {
  width: 30px;
  height: 30px;
  background: linear-gradient(90deg,#f7d5a4 0,#f8c272 100%);
  box-shadow: 12px 9px 10px 0 rgba(174,145,102,.2);
  opacity: .2;
  border-radius: 5px;
  display: inline-block
}

.solution-main .pic-txt-part .part-txt .txt-title {
  font-size: 20px;
  color: #333;
  font-weight: 700;
  padding-top: 50px
}

.solution-main .pic-txt-part .part-txt .txt-more {
  width: 290px;
  font-size: 16px;
  color: #666;
  line-height: 1.9;
  padding-top: 15px;
  word-break: break-all
}

.markdown ol,.markdown td,.markdown th,.markdown ul {
  padding: 0
}

.solution-main .pic-txt-part .back-img {
  width: 1223px;
  height: 740px
}

@media screen and (max-width: 1500px) {
  .back-img1,.back-img10,.back-img11,.back-img13,.back-img14,.back-img15,.back-img16,.back-img17,.back-img17_1,.back-img18,.back-img19,.back-img2,.back-img20,.back-img21,.back-img22,.back-img3,.back-img4,.back-img5,.back-img6,.back-img7,.back-img8,.back-img9 {
      width:640px!important
  }

  .pic-left-txt2 {
      margin-left: -200px!important
  }

  .back-img1 {
      height: 416px!important;
      margin-left: -10px!important
  }

  .part-txt1 {
      margin-left: 100px!important
  }

  .back-img2 {
      margin-left: 80px!important;
      height: 464px!important;
      margin-right: 80px
  }

  .part-txt2 {
      margin-left: -140px!important
  }

  .back-img3 {
      height: 448px!important;
      margin-left: -10px!important
  }

  .part-txt3 {
      margin-left: 80px!important
  }

  .back-img4 {
      margin-left: 70px!important;
      height: 372px!important;
      margin-right: 30px
  }

  .back-img5 {
      height: 428px!important;
      margin-left: -30px!important
  }

  .part-txt5 {
      margin-left: 80px!important
  }

  .back-img6 {
      margin-left: 70px!important;
      height: 408px!important
  }

  .part-txt6 {
      margin-left: -70px
  }

  .back-img7 {
      height: 440px!important;
      margin-left: -30px!important
  }

  .part-txt7 {
      margin-left: 90px
  }

  .back-img8 {
      margin-left: 100px!important;
      height: 368px!important
  }

  .part-txt8 {
      margin-left: -80px!important
  }

  .back-img9 {
      height: 425px!important;
      margin-left: -70px!important
  }

  .part-txt9 {
      margin-left: 110px
  }

  .back-img10 {
      margin-left: 60px!important;
      height: 440px!important
  }

  .back-img11 {
      height: 488px!important;
      margin-left: -50px!important
  }

  .part-txt11 {
      margin-left: 80px
  }

  .back-img12 {
      width: 640px!important;
      height: 456px!important;
      margin-left: -70px!important
  }

  .part-txt12 {
      margin-left: 100px
  }

  .back-img13 {
      margin-left: 90px!important;
      height: 432px!important
  }

  .part-txt13 {
      margin-left: -120px
  }

  .back-img14 {
      height: 480px!important;
      margin-left: -70px!important
  }

  .part-txt14 {
      margin-left: 100px
  }

  .back-img15 {
      height: 412px!important;
      margin-left: -20px!important
  }

  .part-txt15 {
      margin-left: 80px
  }

  .back-img16 {
      margin-left: 80px!important;
      height: 456px!important;
      margin-right: 90px
  }

  .part-txt16 {
      margin-left: -130px
  }

  .part-txt17_1 {
      margin-left: 80px
  }

  .back-img17_1 {
      height: 432px!important;
      margin-left: -20px!important
  }

  .back-img17 {
      margin-left: -50px;
      height: 442px!important
  }

  .part-txt17 {
      margin-left: 40px;
      margin-right: 50px
  }

  .back-img18 {
      height: 448px!important
  }

  .part-txt18 {
      margin-left: 0
  }

  .back-img19 {
      height: 522px!important;
      margin-left: -20px!important
  }

  .part-txt19 {
      margin-left: 50px
  }

  .back-img20 {
      height: 410px!important;
      margin-left: 0!important
  }

  .part-txt20 {
      margin-left: 50px
  }

  .back-img21 {
      height: 402px!important;
      margin-left: 0!important
  }

  .back-img22 {
      height: 496px!important;
      margin-left: -10px!important
  }

  .back-img23,.back-img24 {
      height: 452px!important;
      width: 640px!important
  }

  .part-txt22 {
      margin-left: 10px
  }

  .back-img23 {
      margin-left: 10px!important
  }

  .part-txt23 {
      margin-left: 20px
  }

  .back-img24 {
      margin-left: 0!important
  }

  .part-txt24 {
      margin-left: 20px
  }

  .back-img24_2 {
      width: 640px!important;
      height: 435px!important;
      margin-left: 10px!important
  }

  .part-txt24_2 {
      margin-left: 20px
  }

  .back-img25 {
      width: 640px!important;
      height: 448px!important;
      margin-left: 0!important
  }

  .part-txt25 {
      margin-left: -10px
  }

  .back-img26 {
      width: 640px!important;
      height: 440px!important;
      margin-left: 10px!important
  }

  .part-txt26 {
      margin-left: 10px
  }

  .back-img27 {
      width: 640px!important;
      height: 464px!important;
      margin-left: 0!important
  }

  .part-txt27 {
      margin-left: 5px
  }
}

@media screen and (min-width: 1501px) and (max-width:1700px) {
  .back-img1,.back-img10,.back-img11,.back-img13,.back-img14,.back-img15,.back-img16,.back-img17,.back-img17_1,.back-img18,.back-img19,.back-img2,.back-img20,.back-img21,.back-img22,.back-img3,.back-img4,.back-img5,.back-img6,.back-img7,.back-img8,.back-img9 {
      width:800px!important
  }

  .pic-left-txt2 {
      margin-left: -200px!important
  }

  .back-img1 {
      height: 520px!important;
      margin-left: -10px!important
  }

  .part-txt1 {
      margin-left: 100px!important
  }

  .back-img2 {
      margin-left: 80px!important;
      height: 580px!important;
      margin-right: 80px
  }

  .part-txt2 {
      margin-left: -140px!important
  }

  .back-img3 {
      height: 560px!important;
      margin-left: -10px!important
  }

  .part-txt3 {
      margin-left: 80px!important
  }

  .back-img4 {
      margin-left: 70px!important;
      height: 465px!important;
      margin-right: 30px
  }

  .back-img5 {
      height: 535px!important;
      margin-left: -30px!important
  }

  .part-txt5 {
      margin-left: 80px!important
  }

  .back-img6 {
      margin-left: 70px!important;
      height: 510px!important
  }

  .part-txt6 {
      margin-left: -70px
  }

  .back-img7 {
      height: 550px!important;
      margin-left: -30px!important
  }

  .part-txt7 {
      margin-left: 90px
  }

  .back-img8 {
      margin-left: 100px!important;
      height: 460px!important
  }

  .part-txt8 {
      margin-left: -80px!important
  }

  .back-img9 {
      height: 532px!important;
      margin-left: -70px!important
  }

  .part-txt9 {
      margin-left: 110px
  }

  .back-img10 {
      margin-left: 60px!important;
      height: 550px!important
  }

  .back-img11 {
      height: 610px!important;
      margin-left: -50px!important
  }

  .part-txt11 {
      margin-left: 80px
  }

  .back-img12 {
      width: 800px!important;
      height: 570px!important;
      margin-left: -70px!important
  }

  .part-txt12 {
      margin-left: 100px
  }

  .back-img13 {
      margin-left: 90px!important;
      height: 540px!important
  }

  .part-txt13 {
      margin-left: -120px
  }

  .back-img14 {
      height: 600px!important;
      margin-left: -70px!important
  }

  .part-txt14 {
      margin-left: 100px
  }

  .back-img15 {
      height: 515px!important;
      margin-left: -20px!important
  }

  .part-txt15 {
      margin-left: 80px
  }

  .back-img16 {
      margin-left: 80px!important;
      height: 570px!important;
      margin-right: 90px
  }

  .part-txt16 {
      margin-left: -130px
  }

  .part-txt17_1 {
      margin-left: 80px
  }

  .back-img17_1 {
      height: 540px!important;
      margin-left: -20px!important
  }

  .back-img17 {
      margin-left: -50px;
      height: 553px!important
  }

  .part-txt17 {
      margin-left: 40px;
      margin-right: 50px
  }

  .back-img18 {
      height: 560px!important
  }

  .part-txt18 {
      margin-left: 0
  }

  .back-img19 {
      height: 653px!important;
      margin-left: -20px!important
  }

  .part-txt19 {
      margin-left: 50px
  }

  .back-img20 {
      height: 512px!important;
      margin-left: 0!important
  }

  .part-txt20 {
      margin-left: 50px
  }

  .back-img21 {
      height: 503px!important;
      margin-left: 0!important
  }

  .back-img22 {
      height: 620px!important;
      margin-left: -10px!important
  }

  .back-img23,.back-img24 {
      height: 566px!important;
      width: 800px!important
  }

  .part-txt22 {
      margin-left: 10px
  }

  .back-img23 {
      margin-left: 10px!important
  }

  .part-txt23 {
      margin-left: 20px
  }

  .back-img24 {
      margin-left: 0!important
  }

  .part-txt24 {
      margin-left: 20px
  }

  .back-img24_2 {
      width: 800px!important;
      height: 544px!important;
      margin-left: 10px!important
  }

  .part-txt24_2 {
      margin-left: 20px
  }

  .back-img25 {
      width: 800px!important;
      height: 560px!important;
      margin-left: 0!important
  }

  .part-txt25 {
      margin-left: -10px
  }

  .back-img26 {
      width: 800px!important;
      height: 550px!important;
      margin-left: 10px!important
  }

  .part-txt26 {
      margin-left: 10px
  }

  .back-img27 {
      width: 800px!important;
      height: 580px!important;
      margin-left: 0!important
  }

  .part-txt27 {
      margin-left: 5px
  }
}

@media screen and (min-width: 1701px) {
  .pic-left-txt2 {
      margin-left:-110px!important
  }

  .back-img1 {
      width: 1100px!important;
      height: 700px!important;
      margin-left: -10px!important
  }

  .back-img2,.part-txt1 {
      margin-left: 160px!important
  }

  .back-img2 {
      width: 995px!important;
      height: 721px!important
  }

  .part-txt2 {
      margin-left: -20px!important
  }

  .back-img3 {
      width: 1050px!important;
      height: 742px!important;
      margin-left: -10px!important
  }

  .back-img4,.part-txt3 {
      margin-left: 180px!important
  }

  .back-img4 {
      width: 1101px!important;
      height: 645px!important
  }

  .back-img5 {
      width: 1083px!important;
      height: 725px!important;
      margin-left: -10px!important
  }

  .part-txt5 {
      margin-left: 190px!important
  }

  .back-img6 {
      margin-left: 160px!important;
      width: 1132px!important;
      height: 694px!important
  }

  .part-txt6 {
      margin-left: -160px
  }

  .back-img7 {
      width: 957px!important;
      height: 668px!important;
      margin-left: -10px!important
  }

  .part-txt7 {
      margin-left: 210px
  }

  .back-img8 {
      margin-left: 180px!important;
      width: 1132px!important;
      height: 694px!important
  }

  .part-txt8 {
      margin-left: -240px!important
  }

  .back-img9 {
      width: 1012px!important;
      height: 673px!important;
      margin-left: -10px!important
  }

  .part-txt9 {
      margin-left: 210px
  }

  .back-img10 {
      margin-left: 180px!important;
      width: 953px!important;
      height: 663px!important
  }

  .back-img11 {
      width: 943px!important;
      height: 724px!important;
      margin-left: -10px!important
  }

  .part-txt11 {
      margin-left: 260px
  }

  .back-img12 {
      width: 919px!important;
      height: 660px!important;
      margin-left: 30px!important
  }

  .part-txt12 {
      margin-left: 200px
  }

  .back-img13 {
      margin-left: 150px!important;
      width: 1045px!important;
      height: 705px!important
  }

  .part-txt13 {
      margin-left: -100px
  }

  .back-img14 {
      width: 914px!important;
      height: 691px!important;
      margin-left: 10px!important
  }

  .part-txt14 {
      margin-left: 200px
  }

  .back-img15 {
      width: 925px!important;
      height: 598px!important;
      margin-left: 30px!important
  }

  .part-txt15 {
      margin-left: 220px
  }

  .back-img16 {
      margin-left: 220px!important;
      width: 949px!important;
      height: 679px!important
  }

  .part-txt16 {
      margin-left: -40px
  }

  .back-img17_1 {
      width: 949px!important;
      height: 645px!important;
      margin-left: -20px!important
  }

  .part-txt17_1 {
      margin-left: 220px
  }

  .back-img17 {
      width: 932px!important;
      height: 645px!important;
      margin-left: 50px!important
  }

  .part-txt17 {
      margin-left: 180px
  }

  .back-img18 {
      margin-left: 130px;
      width: 933px!important;
      height: 656px!important
  }

  .part-txt18 {
      margin-left: 30px
  }

  .back-img19 {
      width: 923px!important;
      height: 754px!important;
      margin-left: 0!important
  }

  .part-txt19 {
      margin-left: 240px
  }

  .back-img20 {
      width: 974px!important;
      height: 624px!important;
      margin-left: -30px!important
  }

  .part-txt20 {
      margin-left: 240px
  }

  .back-img21 {
      width: 889px!important;
      height: 560px!important;
      margin-left: 180px!important
  }

  .part-txt21 {
      margin-left: 30px
  }

  .back-img22 {
      width: 902px!important;
      height: 706px!important;
      margin-left: 20px!important
  }

  .part-txt22 {
      margin-left: 240px
  }

  .back-img23 {
      width: 913px!important;
      height: 646px!important;
      margin-left: 200px!important
  }

  .part-txt23 {
      margin-left: 20px
  }

  .back-img24 {
      width: 889px!important;
      height: 629px!important;
      margin-left: 10px!important
  }

  .part-txt24 {
      margin-left: 240px
  }

  .back-img24_2 {
      width: 879px!important;
      height: 598px!important;
      margin-left: 10px!important
  }

  .part-txt24_2 {
      margin-left: 240px
  }

  .back-img25 {
      width: 855px!important;
      height: 600px!important;
      margin-left: 180px!important
  }

  .part-txt25 {
      margin-left: 20px
  }

  .back-img26 {
      width: 910px!important;
      height: 630px!important;
      margin-left: 10px!important
  }

  .part-txt26 {
      margin-left: 240px
  }

  .back-img27 {
      width: 870px!important;
      height: 635px!important;
      margin-left: 200px!important
  }

  .part-txt27 {
      margin-left: 20px
  }
}

.markdown {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  overflow: hidden;
  line-height: 2;
  word-wrap: break-word
}

.markdown a {
  background: 0 0;
  color: #16A085;
  text-decoration: none
}

.markdown ol li {
  margin: 8px 0
}

.markdown pre[class*=language-] {
  margin: 1.2em 0!important
}

.markdown strong {
  font-weight: 700
}

.markdown img {
  border: 0
}

.markdown hr {
  box-sizing: content-box
}

.form,.markdown *,.markdown img {
  box-sizing: border-box
}

.markdown a:active,.markdown a:focus,.markdown a:hover {
  text-decoration: underline
}

.markdown hr:after,.markdown hr:before {
  display: table;
  content: " "
}

.markdown hr:after {
  clear: both
}

.markdown h1,.markdown h2 {
  padding-bottom: .3em;
  border-bottom: 2px solid #eee
}

.markdown ol ol {
  list-style-type: lower-roman
}

.markdown li,.markdown ol,.markdown ul {
  list-style-type: inherit
}

.markdown ol li {
  list-style-type: decimal
}

.markdown dd {
  margin-left: 0
}

.markdown code,.markdown pre {
  font-family: monaco,Consolas,"Liberation Mono",Menlo,Courier,monospace;
  font-size: 1em
}

.markdown .markdown-body>:first-child {
  margin-top: 0!important
}

.markdown .markdown-body>:last-child {
  margin-bottom: 0!important
}

.markdown .anchor {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  display: block;
  padding-right: 6px;
  padding-left: 30px;
  margin-left: -30px
}

.markdown h1,.markdown h2,.markdown h3,.markdown h4,.markdown h5,.markdown h6 {
  position: relative;
  margin-top: 1em;
  margin-bottom: 16px;
  font-weight: 700;
  line-height: 1.4
}

.markdown h1 {
  font-size: 1.42em;
  line-height: 1.2
}

.markdown h2 {
  font-size: 1.28em;
  line-height: 1.225
}

.markdown h3 {
  font-size: 1.14em;
  line-height: 1.43
}

.markdown h4 {
  font-size: 1em
}

.markdown h5 {
  font-size: .85em
}

.markdown h6 {
  font-size: .78em;
  color: #777
}

.markdown blockquote,.markdown dl,.markdown ol,.markdown p,.markdown pre,.markdown table,.markdown ul {
  margin-top: 0;
  margin-bottom: 10px
}

.markdown p {
  line-height: 1.5
}

.markdown hr {
  overflow: hidden;
  background: #e7e7e7;
  height: 4px;
  padding: 0;
  margin: 16px 0;
  border: 0
}

.markdown ol,.markdown ul {
  padding-left: 2em
}

.markdown ol ol,.markdown ol ul {
  margin-top: 0;
  margin-bottom: 0
}

.markdown dl dt,.markdown li>p {
  margin-top: 16px
}

.markdown dl {
  padding: 0
}

.markdown dl dt {
  padding: 0;
  font-size: 1em;
  font-style: italic;
  font-weight: 700
}

.markdown dl dd {
  padding: 0 16px;
  margin-bottom: 16px
}

.markdown blockquote>:first-child {
  margin-top: 20px
}

.markdown blockquote>:last-child {
  margin-bottom: 20px
}

.markdown blockquote {
  font-size: inherit;
  color: #7F8C8D;
  border-left: 4px solid #ecf0f1;
  margin: 20px 0!important;
  background-color: rgba(102,128,153,.03);
  padding: 6px 8px
}

.markdown table {
  border-collapse: collapse;
  border-spacing: 0;
  display: block;
  width: 100%;
  overflow: auto;
  margin: 25px 0
}

.markdown table th {
  font-weight: 700
}

.markdown table td,.markdown table th {
  padding: 6px 13px;
  border: 1px solid #ddd
}

.markdown table tr {
  background-color: #fff;
  border-top: 1px solid #ccc
}

.markdown table tr:nth-child(2n) {
  background-color: #f8f8f8
}

.markdown img {
  max-width: 100%
}

.markdown img:not(.emoji) {
  border: 1px solid #ddd;
  max-width: 95%;
  box-shadow: 0 0 30px #ccc;
  -moz-box-shadow: 0 0 30px #ccc;
  -webkit-box-shadow: 0 0 30px #ccc;
  margin-bottom: 30px;
  margin-top: 10px;
  margin-left: 2%
}

.markdown code {
  margin: 0;
  color: #C2627B;
  background-color: rgba(0,0,0,.04);
  border-radius: 3px;
  background-color: #ECF0F1;
  max-width: 740px;
  overflow-x: auto
}

.markdown code:after,.markdown code:before {
  letter-spacing: -.2em;
  content: "\00a0"
}

.markdown pre>code {
  padding: 0;
  margin: 0;
  font-size: 100%;
  white-space: pre;
  background: 0 0;
  border: 0;
  color: #E6E8D3
}

.markdown .highlight {
  margin-bottom: 16px
}

.markdown .highlight pre,.markdown pre {
  padding: 14px;
  overflow: auto;
  line-height: 1.45;
  background-color: #4e4e4e;
  border-radius: 3px;
  color: #fff;
  border: none
}

.markdown .highlight pre {
  margin-bottom: 0
}

.markdown pre {
  word-wrap: normal
}

.markdown pre code {
  padding: 0;
  margin: 0;
  overflow: initial;
  line-height: inherit;
  word-wrap: normal;
  background-color: transparent;
  border: 0
}

.markdown pre code:after,.markdown pre code:before {
  content: normal
}

.common-search-wrap {
  width: 560px;
  height: 50px;
  background: #FFF;
  box-shadow: 0 2px 10px 0 rgba(198,204,221,.3);
  border-radius: 6px;
  position: relative;
  margin: 30px auto 0
}

.common-search-wrap .search-input {
  box-sizing: border-box;
  width: 500px;
  height: 50px;
  float: left;
  padding: 10px 20px;
  border: none;
  font-size: 16px;
  color: #303443
}

.common-search-wrap .iconsearch {
  cursor: pointer;
  color: #B0B7D0;
  font-size: 25px;
  float: left;
  margin-top: 13px;
  margin-left: 20px
}

.common-search-wrap .icon-clear {
  display: none;
  cursor: pointer;
  color: #ccc;
  position: absolute;
  top: 20px;
  right: 10px
}

.no-data .no-img {
  width: 230px;
  height: 95px;
  display: block;
  margin: 180px auto 0
}

.no-data .no-txt {
  color: #666;
  text-align: center;
  padding-top: 55px;
  padding-bottom: 200px
}

.form .form-tips,.form .form-title {
  font-family: PingFang SC;
  color: #FFF
}

.form {
  text-align: center;
  background-color: #fff;
  height: 500px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center
}

.form .container {
  width: 1200px;
  height: 300px;
  background: linear-gradient(90deg,#FFC765 0,#FFB22C 100%);
  border-radius: 10px
}

.form .form-title {
  font-size: 48px;
  font-weight: 700;
  text-align: center;
  padding: 69px 0 23px
}

.form .form-tips {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 40px
}

.form .goon {
  display: inline-block;
  width: 160px;
  height: 45px;
  background: #FFF;
  border-radius: 4px;
  text-align: center;
  line-height: 45px;
  font-size: 16px;
  font-family: Microsoft YaHei;
  font-weight: 700;
  color: #FFB548
}
