/*banner背景图片动画*/
@-webkit-keyframes scale-bg {
  from {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  to {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scale-bg {
  from {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  to {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
/*banner */
.index_main {
  background: #f7f7f7;
}
.index_main .section1 {
  position: relative;
}
.index_main .section1 .index_banner .item {
  background-size: cover;
  -webkit-background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  position: relative;
}
.index_main .section1 .index_banner .item.slick-current .scaleBg {
  visibility: visible;
  -webkit-animation: scale-bg 6s linear forwards;
  animation: scale-bg 6s linear forwards;
}
.index_main .section1 .index_banner .items {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.index_main .section1 .index_banner .items:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  /* background: rgba(0, 0, 0, 0.2); */
}
.index_main .section1 .index_banner .item .inner .block_txt {
  position: absolute;
  top: 24%;
  right: 10px;
  left: 22%;
  opacity: 0;
  transform: translateY(40px);
  -webkit-transform: translateY(40px);
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  width: 28%;
}
.index_main .section1 .index_banner .item.active .inner .block_txt {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition-delay: 100ms;
  transition-delay: 100ms;
}
.index_main .section1 .index_banner .item .inner .block_txt h4 {
  font-size: 20px;
  color: #fff;
  text-align: left;
  font-family: "COCO";
  letter-spacing: 2px;
  line-height: 1.5;
}
.index_main .section1 .index_banner .item .inner .block_txt h2 {
  color: #fff;
  font-size: 40px;
  /* font-weight: bold; */
  text-align: left;
  letter-spacing: 5px;
  margin-bottom: 20px;
}
.index_main .section1 .index_banner .item .inner .block_txt h2 span,
.index_main .section1 .index_banner .item .inner .block_txt h3 span,
.index_main .section1 .index_banner .item .inner .block_txt h4 span {
  /* color: #f5c920; */
  /* display: inline-block; */
  /* letter-spacing: 5px; */
}
.index_main .section1 .index_banner .item .inner .block_txt h3 {
  color: #fff;
  font-size: 25px;
  text-align: left;
  margin-bottom: 30px;
  letter-spacing: 3px;
}
.index_main .section1 .slick_txt {
  width: 15%;
  height: 100%;
  background-color: transparent;
  transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  font-size: 0;
  outline: none;
  border: 0;
}
.index_main .section1 .left {
  left: 0;
}
.index_main .section1 .right {
  right: 0;
}
.index_main .section1 .slick_txt:hover .slick_arrow {
  opacity: 1;
  visibility: visible;
}
.index_main .section1 .slick_txt .slick_arrow {
  width: 20px;
  height: 36px;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: -18px;
  position: absolute;
  top: 50%;
  cursor: pointer;
  transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  opacity: 0;
  visibility: hidden;
}
.index_main .section1 .slick_txt .prev {
  background-image: url(../image/ban_prev.png);
  left: 60px;
}
.index_main .section1 .slick_txt .next {
  background-image: url(../image/ban_next.png);
  right: 60px;
}
.index_main .section1 .slick_txt .prev:hover {
  background-image: url(../image/ban_prev_hover.png);
}
.index_main .section1 .slick_txt .next:hover {
  background-image: url(../image/ban_next_hover.png);
}
.index_main .section1 .number {
  position: absolute;
  bottom: 10%;
  left: 60%;
  padding-bottom: 5px;
  /* border-bottom: 1px solid #ec193a; */
  display: table;
  padding: 0 20px;
  width: 55%;
  text-align: center;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}
.index_main .section1 .number span {
  font-family: "Myriad Pro", "Microsoft YaHei";
  font-size: 16px;
  color: #ec193a;
  margin-right: 80px;
  display: inline-block;
  cursor: pointer;
  position: relative;
  transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
}
.index_main .section1 .number span:last-child {
  margin-right: 0;
}
.index_main .section1 .number span:after {
  content: "";
  display: inline-block;
  width: 0;
  height: 2px;
  background: #ec193a;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  bottom: -20px;
  opacity: 0;
  visibility: hidden;
  transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
}
.index_main .section1 .number span.active:after {
  width: 100%;
  opacity: 1;
  visibility: visible;
}

.index_main .section2 {
  background: #f5f5f5;
}
.index_main .section2 h3 {
  text-align: center;
}
.index_main .section3 {
  width: 100%;
  height: 100%;
  background: url(../image/3.jpg) no-repeat;
  background-size: 100% 100%;
}
.index_main .section3 h3 {
  text-align: center;
}
.index_main .section4 {
  background: #f5f5f5;
}
.index_main .section4 h3 {
  text-align: center;
}
.bg01 {
  background-image: url("/assets/imgs/index/bg/1解决方案.jpg");
}
.bg02 {
  background-image: url("/assets/imgs/index/bg/1AI律师函.jpg");
}
.bg03 {
  background-image: url("/assets/imgs/index/bg/1案件评估.jpg");
}
.bg04 {
  background-image: url("/assets/imgs/index/bg/1律师办案.jpg");
}
.bg05 {
  background-image: url("/assets/imgs/index/bg/1增值服务.jpg");
}
@media only screen and (max-width: 1600px) {
  .index_main .section1 .index_banner .item .inner .block_txt h4 {
    font-size: 16px;
  }
  .index_main .section1 .index_banner .item .inner .block_txt h2 {
    font-size: 40px;
  }
  .index_main .section1 .index_banner .item .inner .block_txt h3 {
    font-size: 20px;
  }
}
@media only screen and (max-width: 1440px) {
  .index_main .section1 .index_banner .item .inner .block_txt h4 {
    font-size: 14px;
  }
  .index_main .section1 .index_banner .item .inner .block_txt h2 {
    font-size: 30px;
  }
  .index_main .section1 .index_banner .item .inner .block_txt h3 {
    font-size: 18px;
    margin-top: 5px;
  }
}
@media only screen and (max-width: 1366px) {
  .index_main .section1 .index_banner .item .inner .block_txt h4 {
    font-size: 12px;
  }
  .index_main .section1 .index_banner .item .inner .block_txt h2 {
    font-size: 26px;
  }
  .index_main .section1 .index_banner .item .inner .block_txt h3 {
    font-size: 16px;
  }
  .index_main .section1 .index_banner .slick-arrow {
    background-size: auto 30px;
  }
}
@media only screen and (max-width: 1300px) {
}
@media only screen and (max-width: 1199px) {
  .index_main .section1 .index_banner .item .inner .block_txt h4 {
    font-size: 12px;
  }
  .index_main .section1 .index_banner .item .inner .block_txt h2 {
    font-size: 22px;
  }
  .index_main .section1 .index_banner .item .inner .block_txt h3 {
    font-size: 14px;
  }
}
@media only screen and (max-width: 992px) {
  .index_main .section1 .index_banner .item {
    height: 100vh;
  }
  .index_main .section1 .index_banner .item .inner .block_txt {
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 0 20px;
    top: 42%;
  }
  .index_main .section1 .index_banner .slick-arrow {
    display: none !important;
  }
  .index_main .section1 .index_banner .slick-dots {
    position: absolute;
    bottom: 12px;
  }
  .index_main .section1 .index_banner .slick-dots li {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 2px solid #fff;
  }
  .index_main .section1 .index_banner .slick-dots li button {
    display: none;
  }
  .index_main .section1 .index_banner .slick-dots li.slick-active {
    background: #fff;
  }
  .index_main .section1 .number {
    bottom: 12%;
    display: none;
  }
  .index_main .section1 .number span {
    margin-right: 22px;
  }
  .index_main .section1 .number span:after {
    bottom: -14px;
  }
}
@media only screen and (max-width: 767px) {
  .bg01 {
    background-image: url("/assets/imgs/index/bg/2解决方案.jpg");
  }
  .bg02 {
    background-image: url("/assets/imgs/index/bg/2AI律师函.jpg");
  }
  .bg03 {
    background-image: url("/assets/imgs/index/bg/2案件评估.jpg");
  }
  .bg04 {
    background-image: url("/assets/imgs/index/bg/2律师办案.jpg");
  }
  .bg05 {
    background-image: url("/assets/imgs/index/bg/2增值服务.jpg");
  }
}
@media only screen and (max-width: 340px) {
}
@media only screen and (max-width: 320px) {
}
