#pc section.first > .bg {
  background-image: url("/assets/imgs/background/背景1.png");
}
#pc .show {
  display: block;
}
#pc .box > div {
  display: none;
}
#pc .first {
  position: absolute;
  height: 100%;
  overflow: hidden;
}
#pc .loginimg {
  width: 604px;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
#pc .loginfromBox {
  width: 400px;
  min-height: 400px;
  background-color: rgba(255, 255, 255, 0.93);
  box-shadow: 6px 6px 6px #eee;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
#pc .container {
  position: relative;
  max-width: 1080px;
  height: 100%;
}
#pc .loginfromBox .headerimg {
  width: 152px;
  height: 40px;
  margin: 38px auto 0;
}
#pc .loginfromBox .headerimg img {
  width: 130px!important;
  height: 40px;
}
#pc .loginfromBox {
  padding: 0 40px;
  display: inline-block;
}
#pc .changelogin {
  width: 100%;
  display: flex;
}
#pc .changelogin {
  width: 100%;
  border-bottom: 1px solid #d8d8d8;
  margin-top: 34px;
  margin-bottom: 14px;
  height: 34px;
}
#pc .changelogin li {
  height: 34px;
  margin-right: 36px;
  cursor: pointer;
  color: #999999;
}
#pc .changelogin li.action {
  border-bottom: 1px solid #282828;
  color: #282828;
}
#pc .forgetForm input,
#pc .loginForm input,
#pc .loginForm2 input {
  height: 42px;
  margin-bottom: 20px;
}
#pc .btn.btn-primary {
  width: 100%;
  height: 42px;
  background-color: #ec193a;
  border: none;
}
#pc .loginfoot {
  width: 100%;
  height: 14px;
  color: #999999!important;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 10px;
}
#pc .loginfoot div:nth-child(1) {
  margin-right: 13px;
  line-height: 14px;
  cursor: pointer;
}
#pc .xian {
  width: 1px;
  height: 14px;
  line-height: 14px;
  background-color: #999999;
}
#pc .loginfoot div:nth-child(3) {
  margin-left: 13px;
  line-height: 14px;
  cursor: pointer;
}
.scxText{
  font-size: 14px;
  color: #999999;
  display: block;
  text-align: center;
  margin-top: 20px;
}
.passwordBox{
  position: relative;
}
.eyes{
  position: absolute;
  right: 10px;
  top: 50%;
  width: 16px;
  transform: translateY(-50%);
  cursor: pointer;
}
.register{
  display: none;
}
.changePhone,
.changeAccount{
  text-align: right;
  position: relative;
  top: -5px;
  color: #606366;
  cursor: pointer;
}
.upload{
  display: flex;
  margin-top: 5px;
}
.upload-left{
  position: relative;
  margin-right: 10px;
}
.upload-left>.icon{
  position: absolute;
  width: 45px;
  height: 45px;
  top: 55px;
  left: 55px;
  transform: translate(-50%,-50%);
  z-index: -1;
}
.upload-file{
  opacity: 0;
  width:110px;
  height: 110px!important;
  cursor: pointer;
  position: relative;
  z-index: 2;
}
.upload-file2{
  opacity: 0;
  width:80px;
  height: 32px!important;
  cursor: pointer;
  position: relative;
  z-index: 2;
  top: 10px;
  left: 0px;
}
.width{
  min-width:40%;
}
.upload-img{
  width: 110px;
  height: 110px;
  background-color: white;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  border: 1px dashed #ccc;
  border-radius: 10px;
}
.upload-pdf{
  height: 32px;
  text-align: center;
  line-height: 32px;
  background: #ec193a;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  color: white;
  width: 80px;
  position: absolute;
  left: 00px;
  top: 10px;
  z-index: -1;
  cursor: pointer;
}
.upload-left > .upload-img-text{
  max-width: 95%;
  max-height: 95%;
  position: absolute;
  top: 55px;
  left: 55px;
  transform: translate(-50%,-50%);
  z-index: 1;
}
.upload-pdf-text{
  cursor: pointer;
  color: #67C23A;
  text-align: center;
  display: none;
  display: inline-block;
  font-size: 14px;
  margin-top: 4px;
}
.upload-sucess-icon{
  width: 20px;
  height: 20px;
  display: none;
  margin-top: 4px;
}
.upload-right{
  text-align: justify;
}
.register .value{
  display: flex;
}
.getCode{
  height: 32px;
  display: block;
  margin-left: 20px;
  background: #ec193a;
  color: white;
  width: 160px;
  text-align: center;
  border-radius: 5px;
  line-height: 32px;
  font-size: 14px;
  cursor: pointer;
}
.register .from-item input{
  margin-bottom: 10px!important;
  min-height: 32px;
}
.register .submit{
  background: #ec193a;
  height: 32px;
  color: white;
  line-height: 32px;
  font-size: 14px;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-top: 10px;
  cursor: pointer;
}
.register .tips{
  color: #606366;
  font-size: 12px;
  cursor: pointer;
  margin-bottom: 10px;
}
.disabled{
  opacity: .65;
}
.declare{
  position: relative;
}
.declare span{
  color: #ec193a;
  cursor: pointer;
}
.declare>input{
  height: 15px;
  width: 15px;
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  top: 3px;
  margin-right: 2px;
  z-index: -1;
}
input{outline: none!important;}
.declare>input[type='checkbox']:checked+.gou {
  display: block;
}
.declare>input[type='checkbox']:checked{
  border: none;
}
.declare .gou {
  width: 20px;
  height: 20px;
  position: absolute;
  left: -2.5px;
  top: 5px;
  display: none;
  z-index: -1;
}
.tostBg{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1001;
  display: none;
}
.tostBox{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  background: rgba(255, 255, 255, 1);
  width: 750px;
  border-radius: 10px;
}
.box-title{
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  box-shadow: 0 2px 5px #ccc;
  position: relative;
}
.tostBox .guanbi{
  position: absolute;
  right: 15px;
  top: 15px;
  width: 20px;
  height:20px;
  cursor: pointer;
  z-index: 1111;
}
.tostBox .text{
  padding: 20px 60px;
  overflow-y: auto;
  font-size: 14px;
  text-align:justify;
  max-height: 680px;
  /* margin: 20px 0 0 0; */
}
.tostBox .text p{
  margin-bottom: 5px;
  text-indent: 32px;
}
.tostBox .text .stress{
  font-weight: bold;
  text-decoration: underline;
}
.tostBox .text b{
  margin-bottom: 10px;
  display: block;
}
.tostBox h3{
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin: 20px 0;
}
.footer{
  box-shadow: 2px 0px 5px #ccc;
}
.tost-btn{
  background: #ec193a;
  color: white;
  width: 120px;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  margin: 20px auto 20px;
}
.registerFrom{
  width: 540px!important;
  padding: 20px 60px!important;
  position: relative;
}
.loading-bg{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(255,255, 255, 0.8);
  z-index: 10086;
  display: none;
}
.loading-bg > img{
  width:50%;
  position: absolute;
  top: 50%;
  left: 50%;
 transform: translate(-50%,-50%);
}
.registerFrom .from-item{
  display: flex;
}
.registerFrom .from-item .lable{
  min-width: 130px;
  height: 32px;
  line-height: 32px;
  font-size: 14px;
}
.registerFrom .register{
  margin-top: 20px;
}
.registerFrom .value{
  width: 100%;
}
.declare{
  cursor: pointer;
}
.download{
  color: #409EFF;
  cursor: pointer;
  display: block;
  text-align: left;
}