@import "@/assets/scss/variables.scss";
.news-warp {
  width: 100%;
  height: 100%;
  position: relative;
  .cell{
    .edit{
      display: none;
    }
  }
  .el-dialog__footer{
    text-align: center!important;
  }
  .el-dialog{
    border-radius: 10px;
    margin-top: 20vh!important
  }
  .line{
    text-align: center;
  }
}
