@import "@/assets/scss/variables.scss";

.invoice-wrap {
  width: 100%;
  height: 100%;
  background-color: $main-body-bgColor;
  & .operation-wrap {
    & .input-box {
      button {
        display: none;
      }
    }
  }
  & .cell {
    & button:nth-child(1),
    & button:nth-child(3) {
      display: none;
    }
  }
}
