@import '@/assets/scss/variables.scss';

.index-wrap {
  width: 100%;
  height: 100%;
  background-color: $main-body-bgColor;
  position: relative;
  // background-color: #f8f8f8;
  & .qh{
    position: absolute;
    right: 30px;
    top: -30px;
  }
  & .time {
    text-align: center;
    color: #606266;
    font-size: 14px;
  }
  & .index-box {
    height: 100%;
    overflow-y: auto;
    // .chart {
    //   height: 100%;
    //   width: 100%;
    // }
    & .box {
      // display: flex;
      // justify-content: space-around;
      width: 98%;
      margin: 5px auto;
      & .panl {
        background: white;
        box-shadow: 0 2px 10px #ccc;
        width: 100%;
        & .header {
          border-bottom: 1px solid #ccc;
          padding: 0px 15px;
          font-size: 14px !important;
          color: #303033;
          font-weight: 600;
          line-height: 40px;
          height: 40px;
          margin: 0;
        }
        & p {
          padding: 0 15px;
          font-size: 13px;
          color: #606266;
          & span {
            font-size: 12px;
            font-weight: normal;
          }
        }
        & .noData {
          font-size: 14px;
          color: #606366;
          display: inline-block;
          margin-top: 100px;
          width: 100%;
          text-align: center;
        }
      }
      & .chartBox {
        box-shadow: 0 2px 10px #ccc;
        & .chart1 {
          width: 100%;
          height: 500px;
        }
      }
      & .el-dialog {
        width: 480px;
        border-radius: 10px;
        .el-dialog__header {
          .el-dialog__title {
            color: #303133;
            font-size: 16px;
            line-height: 1;
            margin-bottom: 12px;
          }
        }
        .el-dialog__body {
          padding-top: 20px;
          & .list-box {
            position: relative;
            & .xian2 {
              position: absolute;
              top: -20px;
              margin: 0;
            }
            & .flow-box {
              max-height: 500px;
              overflow-y: auto;
              & p {
                display: flex;
                justify-content: space-between;
                font-size: 12px;
                color: #606366;
                margin: 15px 0;
                & span:nth-child(2) {
                  color: #67c23a;
                  cursor: pointer;
                }
              }
            }
          }
        }
        .el-dialog__footer {
          text-align: center;
        }
      }
    }
  }
}
