.banner .bg{
  background: url('../../img/banner/解决方案.png') no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 350px;
}
@media screen and (min-width:750px) {
  .fenge{
    height: 150px;
    position: relative;
  }
  .fenge h2{
    font-weight: 700;
    display: inline-block;
    border-bottom: 5px solid #fb5527;
    position: absolute;
    top: 50%;
    /* left: 50%; */
    transform: translate(0%,-50%);
    padding-bottom: 10px;
  }
  .collapse{
    box-shadow: 0px 0px 10px #ccc;
    overflow: hidden;
    margin-bottom: 20px;
  }
  .collapse:last-child{
    margin-bottom: 100px;
  }
  .collapse > .top{
    border-left: 2px solid #196983;
    height: 100px;
    position: relative;
    line-height: 100px;
    cursor: pointer;
  }
  .collapse > .top > img{
    width: 50px;
    height: 50px;
    transform: translateY(25px);
    position: relative;
    top: -5px;
    margin: 0 20px;
  }
  .collapse > .top > span{
    font-size: 18px;
    color: #333;
    font-weight: 700;
  }
  .collapse > .top > .top-right{
    position: absolute;
    right: 0;
    height: 100%;
    width: 50px;
    background-color: #196983;
    top: 0;
    color: white;
    font-size: 30px;
    text-align: center;
    cursor: pointer;
  }
  .collapse > .bottom{
    background-color: #f8f8f8;
    padding: 0px 40px;
    transition: all 0.7s ease;
    max-height: 0;
  }
  .collapse > .show{
   max-height: 1000px;
   padding: 80px 40px;
  }
  .collapse > .bottom > p{
    line-height: 2.5;
  }
  .collapse > .bottom .label{
    font-weight: 600;
    color: #333;
    font-size: 14px;
  }
  .collapse > .bottom .value{
    color: #666;
    font-size: 14px;
  }
  .collapse > .bottom > .value{
    text-indent: 15px;
  }
}
@media screen and (max-width:750px) {
  .banner .bg{
    height: 200px;
  }
  .fenge{
    height: 100px;
    position: relative;
  }
  .fenge h2{
    font-weight: 700;
    display: inline-block;
    border-bottom: 5px solid #fb5527;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding-bottom: 10px;
    font-size: 16px;
  }
  .collapse{
    box-shadow: 0px 0px 10px #ccc;
    overflow: hidden;
    margin-bottom: 10px;
  }
  .collapse:last-child{
    margin-bottom: 50px;
  }
  .collapse > .top{
    border-left: 2px solid #196983;
    height: 50px;
    position: relative;
    line-height: 50px;
  }
  .collapse > .top > img{
    width: 25px;
    height: 25px;
    transform: translateY(50%);
    position: relative;
    top: -5px;
    margin: 0 10px;
  }
  .collapse > .top > span{
    font-size: 14px;
    color: #333;
    font-weight: 700;
  }
  .collapse > .top > .top-right{
    position: absolute;
    right: 0;
    height: 100%;
    width: 50px;
    background-color: #196983;
    top: 0;
    color: white;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
  }
  .collapse > .bottom{
    background-color: #f8f8f8;
    padding: 0px 40px;
    transition: all 0.7s ease;
    max-height: 0;
  }
  .collapse > .show{
   max-height: 1000px;
   padding: 10px 20px;
  }
  .collapse > .bottom > p{
    line-height: 2.5;
  }
  .collapse > .bottom .label{
    font-weight: 600;
    color: #333;
    font-size: 14px;
  }
  .collapse > .bottom .value{
    color: #666;
    font-size: 12px;
  }
  .collapse > .bottom > .value{
    text-indent: 15px;
  }
}