@import "@/assets/scss/variables.scss";
.devel-warp {
  height: 100%;
  width: 100%;
  background-color: $main-body-bgColor;
  .el-table th:last-child {
    text-align: center !important;
  }
}
.edit {
  color: #55a3f4;
}
