/* 第一屏 */
.section1 .bg {
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: url("/assets//imgs//assessment/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  z-index: -1;
}
.section1 .section-box {
  transform: translateY(-50%);
}
.section1 .section-box-text {
  height: 100%;
  display: flex;
}
.section1 .section-box-text-left {
  position: relative;
  width: 40%;
}
.section1 .section-box-text-right {
  width: 60%;
  position: relative;
}
.section1 .section-box-text-right img {
  width: 80%;
  display: block;
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  left: 10%;
}
.section1 .left-content {
  position: absolute;
  top: 40%;
  left: 50%;
  width: 80%;
  transform: translate(-50%, -50%);
  color: white;
}
.section1 .left-content h3 {
  font-size: 48px;
}
.section1 .left-content p {
  font-size: 20px;
}
.section1 .left-content .xian {
  width: 30px;
  height: 2px;
  background-color: white;
  display: block;
  margin: 20px 0 80px 0;
}
@media only screen and (max-width: 780px) {
  .section1 .bg {
    background-image: url("/assets/imgs/assessment/bg2.jpg");
  }
  .section1 .left-content {
    top: 12%;
  }
  .section1 .section-box-text {
    flex-wrap: wrap;
  }
  .section1 .section-box-text-left {
    width: 100%;
  }
  .section1 .left-content h3 {
    font-size: 24px;
  }
  .section1 .left-content > p {
    font-size: 14px;
  }
  .section1 .left-content .xian {
    margin: 20px 0 40px 0;
  }
  .section1 .section-box-text-right {
    width: 100%;
  }
  .section-box {
    flex-wrap: wrap;
  }
  .section-box .left {
    width: 100% !important;
  }
  .section-box .left .left-content {
    width: 80%;
    transform: translate(-50%, -50%);
  }
  .section-box .left .left-content p {
    font-size: 12px;
    margin: 10px 0;
    line-height: 1.5;
  }
  .section-box .left .left-content p br:nth-of-type(odd) {
    display: none;
  }
  .section-box .left .left-content h3 {
    font-size: 18px;
  }
  .section-box .right {
    width: 100% !important;
  }
  .section-box .right .right-content {
    width: 80%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .section-box .right .right-content h3 {
    font-size: 18px;
  }
  .section-box .right .right-content p {
    font-size: 12px;
    margin: 10px 0;
  }
}
/* 第二,四屏*/
.section2 .section-box,
.section4 .section-box {
  display: flex;
}
.section2 .left,
.section4 .left {
  width: 50%;
  position: relative;
}
.section2 .left-content,
.section4 .left-content {
  position: absolute;
  top: 40%;
  transform: translate(-40%, -70%);
  left: 50%;
  width: 60%;
  left: 50%;
}
.section2 .left-content {
  transform: translate(-40%, -50%);
}
.section2 .left-content h3,
.section4 .left-content h3 {
  text-align: left;
}
.section2 .left-content p,
.section4 .left-content p {
  margin-top: 20px;
}
.section2 .right,
.section4 .right {
  width: 50%;
  position: relative;
}
.section2 .right img,
.section4 .right img {
  width: 80%;
  display: block;
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  left: 10%;
}

/* 第三屏 */
.section3 .section-box {
  display: flex;
}
.section3 .right {
  width: 50%;
  position: relative;
}
.section3 .left {
  width: 50%;
  position: relative;
}
.section3 .left img {
  width: 80%;
  display: block;
  position: absolute;
  left: 10%;
  top: 40%;
  transform: translateY(-50%);
}
.section3 .right-content {
  position: absolute;
  top: 40%;
  transform: translate(-60%, -70%);
  width: 60%;
  left: 50%;
  text-align: left;
}
.section3 .right-content h3 {
  text-align: left !important;
}
.section3 .right-content p {
  margin-top: 20px;
}
