<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>上海嘉厚律师事务所</title>
  <meta name="keywords"
    content=" 催收 应收账款 应收账款催收 欠款 欠款催收 借款 借款催收 商账催收 债务催收 贷款 贷款催收 消费贷款催收 逾期催收 逾期贷款催收 信用卡催收 物业费催收 取暖费催收 催收律师函 催款律师函 催收函 催款函 要账 清账 讨账 清收 清欠 债务诉讼 代理执行 批量催收 物业费批量催收 怎样发催收律师函 律师函哪家最便宜 水费催收 电费催收 律师催收 催收律师 催收专家" />
  <meta name="description"
    content="上海嘉厚律师事务所是一家立足上海，覆盖全国的大型综合性律师事务所，分布在全国各地的律师团队不受地理位置的限制，通过协同、共享、创新向客户提供全方位、全领域、全地域的一站式现代法律服务" />
  <link rel="stylesheet" href="../../assets/style.css">
  <link rel="stylesheet" href="./Specialty.css">
  <!-- <link rel="stylesheet" href="../../assets/swiper.min.css"> -->
  <link rel="icon" href="../../img/907(1).ico" />
</head>

</html>

<body>
  <div id="app">
    <div class="header">
      <div class="content">
        <a class="title" href="../../index.html">
          <!-- 上海嘉厚律师事务所 -->
          <img src="../../img/lg1.png" alt="">
        </a>
        <div class="nav pc">
          <a href="../../index.html"><b data-locale="nav-1"></b><span></span></a>
          <a href="../Specialty/Specialty.html"><b data-locale="nav-2"></b><span class="active"></span></a>
          <a href="../Solution/Solution.html"><b data-locale="nav-3"></b><span></span></a>
          <a href="../JoinUs/JoinUs.html"><b data-locale="nav-4"></b><span></span></a>
          <span data-locale="language" class="language">EN</span>
        </div>
        <span data-locale="language" class="language mb">EN</span>
        <img @click="navOpenRight" class="nav-right mb" src="../../img/daohang.png" alt="">
      </div>
    </div>
    <div class="banner">
      <!-- <img src="../../img/u605.png" alt=""> -->
      <div class="bg"></div>
      <p data-locale="banner-3" class="title">让律师回归法律服务本质</p>
    </div>

    <div class="content">
      <div class="fenge">
        <h2 data-locale="Specialty-title-1">行业领域</h2>
      </div>
      <div class="bard">
        <div @click="open(1)" class="fagtrue">
          <img src="../../img/specialty/u212.svg" alt="">
          <p data-locale="Specialty-future-title-1">互联网</p>
        </div>
        <div @click="open(2)" class="fagtrue">
          <img src="../../img/specialty/u214.svg" alt="">
          <p data-locale="Specialty-future-title-2">电商</p>
        </div>
        <div @click="open(3)" class="fagtrue">
          <img src="../../img/specialty/u236.svg" alt="">
          <p data-locale="Specialty-future-title-3">保险</p>
        </div>
        <div @click="open(4)" class="fagtrue">
          <img src="../../img/specialty/u238.svg" alt="">
          <p data-locale="Specialty-future-title-4">银行</p>
        </div>
        <div @click="open(5)" class="fagtrue">
          <img src="../../img/specialty/u240.svg" alt="">
          <p data-locale="Specialty-future-title-5">汽车金融</p>
        </div>
        <div @click="open(6)" class="fagtrue">
          <img src="../../img/specialty/u244.svg" alt="">
          <p data-locale="Specialty-future-title-6">房地产与建设工程</p>
        </div>
        <div @click="open(7)" class="fagtrue">
          <img src="../../img/specialty/u246.svg" alt="">
          <p data-locale="Specialty-future-title-7">医疗卫生或健康产业</p>
        </div>
        <div @click="open(8)" class="fagtrue">
          <img src="../../img/specialty/u242.svg" alt="">
          <p data-locale="Specialty-future-title-8">制造业</p>
        </div>
        <div @click="open(9)" class="fagtrue">
          <img src="../../img/specialty/u742.svg" alt="">
          <p data-locale="Specialty-future-title-9">物流</p>
        </div>
        <div @click="open(10)" class="fagtrue">
          <img src="../../img/specialty/u748.svg" alt="">
          <p data-locale="Specialty-future-title-10">消费与零售</p>
        </div>
      </div>

      <div class="fenge">
        <h2 data-locale="Specialty-title-2">业务领域</h2>
      </div>

      <div class="bard">
        <div @click="open(11)" class="fagtrue">
          <img src="../../img/specialty/u316.svg" alt="">
          <p data-locale="Specialty-future-title-11">诉讼与仲裁</p>
        </div>
        <div @click="open(12)" class="fagtrue">
          <img src="../../img/specialty/u324.svg" alt="">
          <p data-locale="Specialty-future-title-12">公司法律顾问</p>
        </div>
        <div @click="open(13)" class="fagtrue">
          <img src="../../img/specialty/u312.svg" alt="">
          <p data-locale="Specialty-future-title-13">知识产权</p>
        </div>
        <div @click="open(14)" class="fagtrue">
          <img src="../../img/specialty/u318.svg" alt="">
          <p data-locale="Specialty-future-title-14">家事与财富传承</p>
        </div>
        <div @click="open(15)" class="fagtrue">
          <img src="../../img/specialty/u322.svg" alt="">
          <p data-locale="Specialty-future-title-15">不良资产</p>
        </div>
        <div @click="open(16)" class="fagtrue">
          <img src="../../img/specialty/u330.svg" alt="">
          <p data-locale="Specialty-future-title-16">政府与公共法律服务</p>
        </div>
        <div @click="open(17)" class="fagtrue">
          <img src="../../img/specialty/u326.svg" alt="">
          <p data-locale="Specialty-future-title-17">刑事辩护</p>
        </div>
        <div @click="open(18)" class="fagtrue">
          <img src="../../img/specialty/u328.svg" alt="">
          <p data-locale="Specialty-future-title-18">合规</p>
          <!-- <span>（反舞弊商业秘密，反不正当竞争）</span> -->
        </div>
        <div @click="open(19)" class="fagtrue">
          <img src="../../img/specialty/u314.svg" alt="">
          <p data-locale="Specialty-future-title-19">劳动</p>
        </div>
        <div @click="open(20)" class="fagtrue">
          <img src="../../img/specialty/u332.svg" alt="">
          <p data-locale="Specialty-future-title-20">执行</p>
        </div>
        <div @click="open(21)" class="fagtrue">
          <img src="../../img/specialty/u334.svg" alt="">
          <p data-locale="Specialty-future-title-21">破产</p>
        </div>
        <div @click="open(22)" class="fagtrue">
          <img src="../../img/specialty/u336.svg" alt="">
          <p data-locale="Specialty-future-title-22">税务</p>
        </div>
        <div class="fagtrue nobg pc"></div>
        <div class="fagtrue nobg pc"></div>
        <div class="fagtrue nobg pc"></div>
      </div>

    </div>
    <div v-show="show" class="msk">
      <h2 :data-locale="'Specialty-future-title-'+index">{{textData.title}}</h2>
      <div class="text" v-html="textData.text"></div>
      <div @click="close" data-locale="close" class="btn">关闭</div>
    </div>
    <div :class="{mskOpen:isRight}" class="right-mask mb">
      <img @click="navCloseRight" class="close" src="http://www.debteehelper.com/image/closed.png" alt="">
      <div class="logo"> <img src="../../img/logo2.png" alt=""></div>
      <div class="content">
        <a data-locale="nav-1" href="../../index.html">首页</a>
        <a data-locale="nav-2" href="../../views/Specialty/Specialty.html">专业领域</a>
        <a data-locale="nav-3" href="../../views/Solution/Solution.html">解决方案</a>
        <a data-locale="nav-4" href="../../views/JoinUs/JoinUs.html">加入我们</a>
      </div>
    </div>
    <div class="footer">
      <div class="content">
        <img class="footer-logo" src="../../img/u338.png" alt="">
        <div class="footer-text">
          <p><img src="../../img/u171.svg" alt=""><b data-locale="footer-text">上海市徐汇区宜山路1009创新大楼18楼</b></p>
          <p>
            <span><img src="../../img/u177.svg" alt="">service@legallinks.net</span>
            <span><img src="../../img/u173.svg" alt="">021-5426-4687</span>
          </p>
        </div>
        <p><a style="color: #ccc;" href="https://beian.miit.gov.cn">沪ICP备19010278号-2</a>号 上海嘉厚律师事务所版权所有</p>
      </div>

    </div>
  </div>
</body>

<script src="../../assets/vue@2.js"></script>
<!-- <script src="https://cdn.jsdelivr.net/npm/vue@2"></script> -->
<!-- <script src="../../assets/swiper.min.js"></script> -->
<script src="../../assets/jquery.min.js"></script>
<script src="../../assets/jquery.i18n.properties.min.js"></script>
<script src="../../assets/js.js"></script>
<script src="./Specialty.js"></script>